/* style sheet	fonts: open sans, Lato, Ubuntu, Droid Serif #0099FF #610B5E
light green- DCEDC6, sky-blue: 94cbc6, pink- #F94877, orange- #FF9000, light-gray #f5f5f5, dark-grey: #4b555d;
*/

body{font-family: Arial;}
p {	font-weight: normal; }
ul{ list-style-type: none; padding: 0px;}
ul li {list-style-type: none; display: inline;}
ul a {    list-style-type: none;}
h1 { font-size: 20px;}

/* General
#head { float: right; margin: -50px 0px 0px 0px; width: 0px; font-size: 12px !important;}
*/

.container {height: 560px;}
#content{	text-align: none;	margin: 0%; }

#head { float: right; margin: -35px 20px 0px 0px;}

.anchor-link {	text-decoration: none !important;	color: #1B0A2A !important;}
.anchor-link a:hover {	color: #ffffff; }
#user { float:right; text-decoration: none; color: #000000; background-color: #DCEDC6;}

.anchor-link-right {	float:right; text-decoration: none !important; color: #000000 !important; font-size: 11px;}
.anchor-link-right a:hover { color: #ffffff; }
.loginSignup { margin: 30px auto;}
.float-right{ float: right;}
.float-left{ float: left;}
.textCentre { text-align: center;}
#search-btn{	width: 90px; height: 40px; color: #3eb249; margin: 0px auto; padding: 0px;}
.inline_ { display: inline; padding: 0px; margin: 0px; }
.normalweight { font-weight: normal;}
.marg-r{ padding-right: 10px; }  .marg-l{ padding-left: 10px; } .marg-b{ padding-right: 10px; } .marg-t{ padding-left: 10px; }
.break { display: block;}

/* Practitioner details */
#practitionerDetails{ padding: 0; float: none;	text-align: center; margin: 10px auto; font-weight: normal;}

.grid-name { float: left; margin: 0px 5px 0px 0px; width: 280px;  text-shadow: none;}
.grid-name h2 { border: 2px solid #DCEDC6; color: #fff; text-align: center; font-size: 14px; 
	height: 20px; padding: 10px 0px; margin-bottom: 0px;}
.grid-name h3 { color: #000; text-align: center; font-size: 14px; padding: 0px; margin: 0px;}

.clinic{	width: 250px; float: left; padding: 10px 15px; font-weight: normal; clear: none; 
	color: #000; background-color: #DCEDC6;}
.clinic ul li {  display: block; width: 100%;}
.clinic ul li i{ float: left; width: 20px; height: 20px; padding-right: 10px;}
#map-marker { float: right; padding: 0px 0px 10px 0px;}
.clinic ul li span{ float: left; width: 200px; }

.clinicTiming { width: 280px; float: left; text-shadow: none; clear: none; 
	color: #000; background-color: #94cbc6; text-align: center;}

#ct { color: #fff; background-color: #000; font font-size: 15px; border-radius: none; }
#popupBasic p span { width: 25px; padding-right: 15px;}

.reviews{ width: 280px; float: left; height: 300px; overflow-y:auto; 
	font-weight: normal; clear: none; background-color: #DCEDC6; color: #000;}
#votes { margin: 0px 85px;}
#reviewBox {width: 250px; float: right; font-weight: normal; margin: 0px 15px;}

#post-review-btn{	width: 90px; height: 40px; color: #3eb249; float: right; padding: 0px; margin-top: 15px;}
.small-font {font-size: 13px;}


/* Patient Profile	*/

.profile-cntr { margin: 0px auto;}
#update-btn{	float: right; width: 90px; height: 40px; color: #3eb249; margin: 0px auto; padding: 0px;}

.profile {	width: 100%; float: left; margin: 10px; font-weight: normal; clear: none; text-align: center;}
.profile span { margin-right: 10px; }

.patient-reviews{	width: 300px; float: left; margin: 5px; font-weight: normal; clear: none; background-color: #DCEDC6;}
.patient-reviews span { margin-left: 10px; } .patient-reviews h2 { color: #000; text-align: center; font-size: 16px;}

.favourite-pracs{	width: 300px; float: left; margin: 5px; font-weight: normal; clear: none; background-color: #DCEDC6;}
.favourite-pracs span { margin-left: 10px; } .favourite-pracs h2 { color: #000; text-align: center; font-size: 16px;}

.subscribe-spec{	width: 300px; float: left; margin: 5px; font-weight: normal; clear: none; background-color: #DCEDC6;}
.subscribe-spec span { margin-left: 35px; }

.subscribe-spec h2 { color: #000; text-align: center; font-size: 16px;}
.subscribe-spec li {display: inline;}

/* Responsive for mobile devices */
@media only screen and (max-width: 767px) {
	p {	font-weight: normal;}
	.container {height: 390px;}
	#head { float: right; margin: -30px 5px 0px 0px;} .marg-l { padding-left: 5px;}
	.anchor-link-right { float:right; text-decoration: none; color: #000000;  font-size: 12px;}
	#patient-profile{	width: 320px; float: left; margin: 10px;  font-weight: normal;}
	#patient-profile table{ font-weight: normal;}
}