{% extends "registration/base.html" %}
<!DOCTYPE html> 
<html>
<head>
{% load static from staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />
<link rel="stylesheet" href="{% static "jquery_mobile/style.css" %}"rel="stylesheet" type="text/css" >
</head>
<body>
{% block title %}Registration Complete | doctorsinfo.pk{% endblock %}

{% block content %}
	<center><h1><a href="/" class="anchor-link" >
	<img class="marg-r" src="{% static "icons/stethoscope.png" %}" height="18" width="18" />doctorsinfo.pk</a></h1></center>
	<center><h2> Registration Successful !</h2><center>
	{% endblock %}
</body>
</html>
<!--h2>Check your email</h2>
<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p-->
