<!DOCTYPE html> 
<html>
   <head>
      <title>docors | patient details</title>
      {% load staticfiles %}
      <link rel="shortcut icon" href="{% static "jquery_mobile/stethoscope.ico" %}" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static "jquery_mobile/jquery.mobile-1.4.4.min.css" %}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="{% static "jquery_mobile/style.css" %}"rel="stylesheet" type="text/css" />
      <script src="{% static "jquery_mobile/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
      <script src="{% static "jquery_mobile/jquery.mobile-1.4.4.min.js" %}" type="text/javascript"></script>
      <script src="{% static "jquery_mobile/jquery.mobile-1.4.4.min.map" %}" type="text/javascript"></script>
      <script src="{% static "jquery_mobile/jquery.jeditable.js" %}" type="text/javascript" charset="utf-8"></script>
   </head>
   <body>
      <div data-role="page">
         <div data-role="header">
            <h1 class="ui-icon-myicon">
               <a href="http://localhost:8000/" class="anchor-link" >docors.&nbsp;
               <img src="{% static "icons/stethoscope.png" %}" height="18" width="18" /></a>
            </h1>
            <div id="head">
      		{% if not patient.is_authenticated %}
        	<a href="/logout/" style: id="user" >Log Out.</a>
      		{% endif %}
      </div>

         </div>
         <div id='content'>
            <div class="ui-grid-b">
               <div class="ui-block-a" id="patient-profile">
                  <div class="ui-bar ui-bar-a">
                     <!--Patient Profile -->
                     <center>
                        <h3><u>Patient Detail</u></h3>
                     </center>
                     <p><b>username: </b>{{patient.user.username}}<br>
                     <b>email: </b>{{patient.user.email}}<br>
                     {% if patient.user.get_full_name and patient.cell_number and patient.gender %}
                     first name: <b>{{patient.user.first_name}}</b><br>last Name: <b>{{patient.user.last_name}}</b><br>
                     Cell Number: {{patient.cell_number}}<br>Gender: {{patient.get_gender_display}}<br>
                     Age-Group: {{patient.get_age_group_display}}</p>
                     {% else %}
                     <form action="{% url 'patient' %}" method="POST">{% csrf_token %}
                     <p><b>First Name: </b><input type="text" name="fname" />
                     <b>Last Name: </b><input type="text" name="lname" />
                     <b>Cell Number: </b><input type="text" name="number" />
                     <b>Gender: </b><select name="gender">
                     <option value="M">Male</option>
                     <option value="F">Female</option>
                     </select>
                     <input type="submit" value="Update" />
                     </form>
                     </p>
                     {% endif %}
                  </div>
               </div>
               <!--patient reviews-->
               <div class="ui-block-b" id="patient-reviews">
                  <div class="ui-bar ui-bar-a">
                     <center>
                        <h3><u>Reviews List</u></h3>
                     </center>
                     {% if reviews.exists %}
                     <table style="font-weight: normal;">
                        <tr>
                           <th>Practitioner</th>
                           <th>Review</th>
                        </tr>
                        {% for pr in reviews.iterator %}
                        <tr>
                        	<td><b>* {{pr.practitioner.name}}&nbsp;&nbsp;</b></td>
                        	<td><p>'{{pr.review_text}}'</p></td>
                        </tr>
                        {% endfor %}
                     </table>
                     {% else %}
                     <center>
                        <p>No Reviews from you about any Practitioner :(</p>
                     </center>
                     {% endif %}
                  </div>
               </div>
               <!--favourite Practitioner -->
               <div class="ui-block-c" id="favourite-pracs">
                  <div class="ui-bar ui-bar-a">
                     <center>
                        <h3><u>Favourite Practitioners</u></h3>
                     </center>
                     {% if patient.favt_practitioner.all.exists %}
                     <table style="font-weight: normal;">
                        <tr>
                           <th>Name</th>
                           <th>Specialist</th>
                        </tr>
                        {% for practitioner in patient.favt_practitioner.all.iterator %}
                        <tr>
                           <td>* {{practitioner.name}}&nbsp;&nbsp;</td>
                           {% for speciality in practitioner.specialities.all.iterator %}
                           <td>{{speciality.name}}</td>
                           {% endfor %}
                        </tr>
                        {% endfor %}
                     </table>
                     {% elif error %}
                     <center>
                        <p>Practitioner already on favourite list. :(</p>
                     </center>
                     {% else %}
                     <center>
                        <p>No favourite Practitioner, yet. :(</p>
                     </center>
                     {% endif %}
                  </div>
               </div>
               <!--favourite Specialities -->
               <div class="ui-block-c" id="favourite-spec">
                  <div class="ui-bar ui-bar-a">
                     <center>
                        <h3><u>Interested Specialities</u></h3>
                     </center>
                     {% if patient.interested_specialities.all.exists %}
                     <table style="font-weight: normal;">
                        <tr>
                           <th>Name</th>
                        </tr>
                        {% for spec in patient.interested_specialities.all.iterator %}
                        <tr>
                           <td>* {{spec.name}}</td>
                        </tr>
                        {% endfor %}
                     </table>
                     {% elif error %}
                     <center>
                        <p>Practitioner already on favourite list. :(</p>
                     </center>
                     {% else %}
                     <center>
                        <p>No favourite Practitioner, yet. :(</p>
                     </center>
                     {% endif %}
                  </div>
                </div>
                <!--subscribe Specialities -->
               <div class="ui-block-c" id="favourite-spec">
                  <div class="ui-bar ui-bar-a">
                     <center>
                        <h3><u>Subscibe for Specialities</u></h3>
                     </center>
                     <table style="font-weight: normal;">
                        <tr>
                           <th style="margin-right: 25px;">Name</th>
                        </tr>
                        {% for spec in specialities.iterator %}
                        <tr>
                           <td>
                              <form>
                              <input type="checkbox" name="Subscribe" value="Bike">
                              </form>
                           </td>
                           <td>{{spec.name}}</td>
                        </tr>
                        {% endfor %}
                     </table>
                     <p>Please Select the above categories to get specific updates about latest research and tips, weekly.</p>
                  </div>
                </div>
            </div>
         </div>
         <!-- Footer Details -->
         <div data-role="footer">
            <h4>&copy; all rights reserved-2014 &reg;</h4>
         </div>
      </div>
   </body>
</html>