<!DOCTYPE html> 
<html>
<head>
	<title>docors | clinic list</title>
{% load staticfiles %}
	<link rel="shortcut icon" href="{% static "jquery_mobile/stethoscope.ico" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "jquery_mobile/jquery.mobile-1.4.4.min.css" %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static "jquery_mobile/style.css" %}"rel="stylesheet" type="text/css" />
	<script src="{% static "jquery_mobile/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
	<script src="{% static "jquery_mobile/jquery.mobile-1.4.4.min.js" %}" type="text/javascript"></script>
	<script src="{% static "jquery_mobile/jquery.mobile-1.4.4.min.map" %}" type="text/javascript"></script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h1 class="ui-icon-myicon">docors.&nbsp;
			<img src="{% static "jquery_mobile/images/icons-png/stethoscope.png" %}" height="18" width="18" />
		</h1>
	</div><!-- /header -->
	<table data-role="table" id="table-custom-2" class="ui-body-d ui-shadow table-stripe ui-responsive">
		<thead>
			<tr class="ui-bar-d">
				<th>No.</th>
				<th>Clininc Name</th>
				<th>Practitioner</th>
				<th>Specialized In</th>
				<th>Contact Number</th>
				<th>Checkup fee</th>
			</tr>
		</thead>
		<tbody>
			{% for clinic in clinics %}
			<tr>
				<td>{{clinic.pk}}</td>
				<td><a href="#" class="anchor-link" data-rel="external">{{clinic.name}}</a></td>
				<td>
					{% for practitioner in clinic.practitioners.all %} {{practitioner.name}}
					{% endfor %}
				</td>
				<td>
					{% for speciality in clinic.specialities.all %} {{speciality.name}}
					{% endfor %}
				</td>
				<td>{{clinic.contact_number}}</td>
				<td>{{clinic.checkup_fee}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div data-role="footer">
		<h4>&copy; all rights reserved-2014 &reg;</h4>
	</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>

