<!DOCTYPE html> 
<html>
<head>
	<title>docors | practitioner details</title>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static "jquery_mobile/stethoscope.ico" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "jquery_mobile/jquery.mobile-1.4.4.min.css" %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static "jquery_mobile/style.css" %}"rel="stylesheet" type="text/css" />
	<script src="{% static "jquery_mobile/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
	<script src="{% static "jquery_mobile/jquery.mobile-1.4.4.min.js" %}" type="text/javascript"></script>
	<script src="{% static "jquery_mobile/jquery.mobile-1.4.4.min.map" %}" type="text/javascript"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBvgO8fn_1Xxpe8IoT8t2kPBO0WCXFjTMM&sensor=true"></script>
	<script>
	function initialize() {
		var myLatlng = new google.maps.LatLng({{clinic.lat}},{{clinic.lon}});
		var mapOptions = {
			zoom: 14,
			center: myLatlng
		}
	  var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
	  var marker = new google.maps.Marker({
	      position: myLatlng,
	      map: map,
	      title: '{{clinic.name}}'
	  });
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	
</head>
<body>
<div data-role="page">
	<div data-role="header">
      <h1 class="ui-icon-myicon">
        <a href="http://localhost:8000/" class="anchor-link" >docors.&nbsp;
        <img src="{% static "jquery_mobile/images/icons-png/stethoscope.png" %}" height="18" width="18" /></a>
      {% if patient.is_authenticated %}
        <a href="{% url 'patient' %}" style: id="user" >{{patient.username}}</a>
      {% else %}
        <a href="/accounts/login/" style: class="anchor-link-right" >Login</a>
        {% endif %}
      </h1>
  </div>
	<div id='content'>
	
	<!-- Practitioner Details -->
	<div id="practitionerDetails">
		<form action="/favourite/" method="POST">{% csrf_token %}
			<input class="anchor-link-right" type="image" src="{% static "jquery_mobile/images/favt_.png" %}" height="32" width="32" >
			<input type="hidden" name="slug" value="{{practitioner.slug}}" >
		</form>
		<h3>{{practitioner.name}}</h3>
		<p>{{practitioner.credentials}}<br>
		Specialized in: {% for speciality in practitioner.specialities.all.iterator %} <b>{{speciality.name}}</b><br>{% endfor %}
		Experience: <strong>{{practitioner.experience}} years.</strong><br><br>
		Achievements: {{practitioner.achievements}}</p>
	</div>

	<div class="ui-grid-b">

	<!-- Clinic Details -->
	<div class="ui-block-a" id="clinicDetails">
	<div class="ui-bar ui-bar-a" >
	
	<h3>Clinic Details.</h3>
		<p>{{clinic.name}}<br><br>
		Contact: <b><u>{{clinic.contact_number}}</u></b><br><br>
		Checkup Fee: <b>{{clinic.checkup_fee}}rs.</b><br><br>
		Appointment Only: <b>{{clinic.appointments_only}}</b><br><br>
		Address: {{clinic.clinic_address}}, <b>{{clinic.city.name}}</b><br><br>
		Services: {{clinic.services_offered}}</p>
	</div>
	</div>

	<!-- Clinic Timings Details -->
	<div class="ui-block-b" id="clinicTimingsDetails">
	<div class="ui-bar ui-bar-a">

	<h3>Clinic Timings.</h3>
	<table style="font-weight: normal;">
		<tr>&nbsp;<br></tr>
		<tr>
			<td><b>Day&nbsp;</b></td>
			<td><b>Starting&nbsp;</b></td>
			<td><b>Closing&nbsp;</b></td>
		</tr>
		{% for ct in clinic_timing.iterator %}
    	<tr>
    		<td>{{ct.get_day_display}}&nbsp;</td>
    		<td>{{ct.get_start_time_display}}&nbsp;</td>
    		<td>{{ct.get_end_time_display}}&nbsp;</td>
    	</tr>
    	{% endfor %}
    </table>
    </div>
    </div>

    <!-- Practitioner Reviews Details -->
	<div class="ui-block-c" id="practitionerReviews">
	<div class="ui-bar ui-bar-a">
	<h3>Practitioner Reviews.</h3>
	{% if reviews.exists %}
	{% for pr in reviews.iterator %}
	<p>
	"{{pr.review_text}}"<br>
	
	{% if patient.is_authenticated %}
	<a href="#" class="anchor-link" >
	<img src="{% static "jquery_mobile/images/thumb-up.png" %}" height="18" width="18" /></a>&nbsp;&nbsp;{{pr.up_votes}}
	&nbsp;&nbsp;
	<a href="#" class="anchor-link" >
	<img src="{% static "jquery_mobile/images/thumbs-down.png" %}" height="18" width="18" /></a>&nbsp;&nbsp;{{pr.down_votes}}<br>

	{% else %}
	<center>agree: {{pr.up_votes}}&nbsp;&nbsp;|&nbsp;&nbsp;disagree: {{pr.down_votes}}</center><br>
	{% endif %}
	Reviewed by: <b>{{pr.patient}}.&nbsp;</b><br>
	Submitted on: <i>{{pr.review_date}}</i><br>
	{% endfor %}
	</p>
	{% else %}
    <p>No reviews, yet.<br>
    {% endif %}

    <!-- Post new Reviews-->
    {% if patient.is_authenticated %}
    <div id="reviewBox" data-role="collapsible" data-collapsed="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right"><h6>add review</h6>
	<form action="/addReview/" method="POST">{% csrf_token %}
  		<textarea cols="8" rows="8" name="review_text" required></textarea>
  		<input type="hidden" name="slug" value="{{practitioner.slug}}" >
  		<button type="submit" id="post-review-btn" class="ui-btn ui-corner-all ui-btn-a">Post</button>
  	</form>
  	</div>

    {% else %}
    <p>
    <!-- no user login	-->
    <a href="#loginSignup" class="anchor-link-right">add review</a>
	</p>
	{% endif %}
    </div>
    </div>

    </div>

	<!-- Clinic-on-map Details -->
	<div data-role="collapsible" data-collapsed="false" id="mapDetails" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	<h4>Show on Map</h4>
	<div id="googleMap" ></div>
	</div>

    </div>
    <!-- Footer Details -->
	<div data-role="footer">
		<h4>&copy; all rights reserved-2014 &reg;</h4>
	</div>
</div>
  <!-- Login SignUp -->

  <div data-role="page" id="loginSignup" data-theme="a">
  <div data-role="header">
      <h1 class="ui-icon-myicon">
        <a href="http://localhost:8000/" class="anchor-link" >docors.&nbsp;
        <img src="{% static "jquery_mobile/images/icons-png/stethoscope.png" %}" height="18" width="18" /></a>
      </h1>
  </div>

  <div role="main" class="ui-content">
  	<center><a href="http://localhost:8000/accounts/login/" class="ui-btn ui-corner-all ui-shadow loginSignup">Login</a></center>
  	<center><a href="http://localhost:8000/accounts/register/" class="ui-btn ui-corner-all ui-shadow loginSignup">Sign Up</a></center>
  <div style="margin: auto auto;" data-role="footer">
  	<h4>&copy; all rights reserved-2014 &reg;</h4>
  </div>

</div>

</body>
</html>
<!--li class="ui-field-contain">
	<label for="anonymous">Post as Anonymous:</label>
		<select name="anonymous" id="flip2" data-role="slider">
			<option value="True">Yes</option>
			<option value="False">No</option>
		</select>
</li-->