{% extends "base.html" %} {% block seoTags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="specialist doctors clinic information, practicing across pakistan" />
<meta content="best doctors, medics, doctors directory, health, pakistan, doctors in pakistan, lahore,specialist doctors in lahore, pediatrics, child specialist, gyne, gynecologist, psychiatrist, neurologist" name="keywords" />
<meta name="google-site-verification" content="4eQap4DygfxsfuocwBZAZxmS3eXhMVhwlo2KQ47S7-Q" />
<meta property="og:description" content="specialist doctors clinic information, practicing across pakistan" />
<meta property="fb:app_id" content="753672898036503" />
<meta property="og:image" content="http://www.doctorsinfo.pk/static/icons/stethoscope.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.doctorsinfo.pk/" />
<meta property="og:site_name" content="doctorsinfo.pk" />
<link href="http://www.doctorsinfo.pk/" rel="canonical" /> {% endblock %}
{% block title %}doctorsinfo.pk - find specialist doctors, review doctors and doctor ratings{% endblock %}
{% block profile_completeness %}<li><a class="tooltip-class" href="/dashboard/profile" title="Your Profile Completeness is at {{data.completeness}}. Click to complete your profile now."><div id="profile-completeness-container"></div></a></li>{% endblock %}
{% block home_link %}#{% endblock %}
{% block home_link1 %}#{% endblock %}
{% block home_link2 %}#{% endblock %}
		{% block content %}
		<!-- Start Middle Content -->
		<section class="main-section">
			<div class="color-correction"></div>
			<div class="container">
				<div class="row row-space-75-0">
					<div class="text-center">
						<h2 style="color: #fafafa">Find specialist doctors in your area.</h2>
					</div>
					<div class="text-center" style="color: #fafafa;">
						<span>Know your doctor, better.</span>
					</div>
				</div>
				<div class="row row-space-75-0">
					<div class="col-md-6 col-md-offset-3">
						<div class="tabs">
	                        <ul class="nav nav-tabs">
	                            <li class="active"><a href="#main_search_tab" data-toggle="tab">Find Doctors</a></li>
	                            <li class=""><a href="#speciality_tab" data-toggle="tab">Speciality</a></li>
	                            <li class=""><a href="#advsearch_tab" data-toggle="tab">Advanced Search</a></li>
	                        </ul>
	                        <!-- Tab panes -->
	                        <div class="tab-content" style="margin-top:0;">
	                            <div class="tab-pane active" id="main_search_tab">
	                                <div class="tab-desc animated fadeIn">
	                                	<div class="row">
	                                		<form role="form" action="{% url 'doctor_suggestions' %}" method="GET">
		                                		<div class="col-md-12">
			                                		<div class="col-md-10 margin20" id="doctor">
			                                			<div class="form-group">
			                                				<input type="text" class="form-control input-lg typeahead" name="q" placeholder="Doctor Name, Specialty, Condition or Procedure">
			                                			</div>
			                                		</div>
			                                		<div class="col-md-2" >
			                                			<button class="btn btn-danger btn-lg pull-right"><i class="fa fa-search"></i></button>
			                                		</div>
			                                	</div>
			                                </form>
	                                	</div>
	                                </div>
	                            </div>
	                            <div class="tab-pane" id="speciality_tab">
	                                <div class="tab-desc animated fadeInDown">
	                                	<div class="row">
	                                		<form role="form" action="{% url 'speciality_suggestions' %}">
		                                		<div class="col-md-12">
			                                		<div class="col-md-5 margin20" id="first_col">
			                                			<div class="form-group">
			                                				<label id="first_col_search_label">Speciality</label>
			                                				<input type="text" name="spec" class="form-control input-lg typeahead" placeholder="eg. Child Specialist" id="first_col_search_input">
			                                			</div>
			                                		</div>
			                                		<div class="col-md-5 margin20" id="second_col">
			                                			<div class="form-group">
			                                				<label id="second_col_search_label">Area</label>
			                                				<input type="text" name="area" class="form-control input-lg typeahead area_typeahead" placeholder="eg. Faisal Town" id="second_col_search_input">
			                                			</div>
			                                		</div>
			                                		<div class="col-md-2 margin20" style="margin-top:30px;">
			                                			<button class="btn btn-danger btn-lg pull-right"><i class="fa fa-search"></i></button>
			                                		</div>
			                                	</div>
			                                </form>
	                                	</div>
	                                </div> 
	                            </div>
	                            <div class="tab-pane" id="advsearch_tab">
	                                <div class="tab-desc animated fadeInUp">
	                                    <p>
	                                        Coming Soon.
	                                    </p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
		</section>
		{% load staticfiles %}
		<section class="bottom-section">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4 bottom-section-left">
							<div class="row">
								<div class="bottom-section-left-img text-center margin20">
									<img src="{% static 'assets/img/doctor.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-left-heading text-center">
									<h3>Doctors for you</h3>
								</div>
								<div class="bottom-section-left-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-left-paragraph text-center">
									<ul class="no-list-style">
										<br><li><a href="#">Dr. Mudassir S. Sheikh</a></li>
										<li><a href="#">Dr. Muhammad Anwar</a></li>
										<li><a href="#">Dr. Bilal Zakriya</a></li>
										<li><a href="#">Dr. Anjum Habib Vohra</a></li>
										<li><a href="#">Dr. Shagufta Feroz</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 bottom-section-left">
							<div class="row">
								<div class="bottom-section-left-img text-center margin20">
									<img src="{% static 'assets/img/hospital.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-left-heading text-center">
									<h3>Hospital/Clinics For You</h3>
								</div>
								<div class="bottom-section-left-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-left-paragraph text-center">
									<ul class="no-list-style">
										<br><li><a href="#">Ammar Medical Complex</a></li>
										<li><a href="#">Farooq Hospital</a></li>
										<li><a href="#">Shifa Clinic</a></li>
										<li><a href="#">Maryam Child Clinic</a></li>
										<li><a href="#">Al-Razi Healthcare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 bottom-section-right">
							<div class="row">
								<div class="bottom-section-right-img text-center margin20">
									<img src="{% static 'assets/img/kit.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-right-heading text-center">
									<h3>Medical Treatments For You</h3>
								</div>
								<div class="bottom-section-right-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-right-paragraph text-center">
									<ul class="no-list-style">
										<br><li><a href="#">Endoscopy</a></li>
										<li><a href="#">Angioplasty</a></li>
										<li><a href="#">MRI</a></li>
										<li><a href="#">Ultra Sound</a></li>
										<li><a href="#">ECG</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="divide80"></div>
	{% endblock %}
	{% block pageSpecificJS %}
		<script type="text/javascript" src="{% static 'assets/js/handlebars.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/typeahead.js' %}"></script>
	{% endblock %}

	{% block customScript %}

	<script type="text/javascript">
		var local_specializations = Array();
		{% for spec in data.specialities %}
			local_specializations.push("{{spec.human_name}}");
		{% endfor %}
		var local_areas = Array();
		{% for area in sticky_data.areas %}
			local_areas.push("{{area.name}}");
		{% endfor %}
		local_areas.sort();
		$(document).ready(function(){

			/********* Twitter typeahead with bloodhound *******/

			var substringMatcher = function(strs) {
			  return function findMatches(q, cb) {
			    var matches, substringRegex;
			 
			    // an array that will be populated with substring matches
			    matches = [];
			 
			    // regex used to determine if a string contains the substring `q`
			    substrRegex = new RegExp(q, 'i');
			 
			    // iterate through the pool of strings and for any string that
			    // contains the substring `q`, add it to the `matches` array
			    $.each(strs, function(i, str) {
			      if (substrRegex.test(str)) {
			        matches.push(str);
			      }
			    });
			 
			    cb(matches);
			  };
			};

			$("#first_col .typeahead").typeahead({
				minLength:0,
				hint: true,
				highlight: true
			}, {
				name: 'specialization',
				source: substringMatcher(local_specializations),
				limit:1000
			})
			.blur(function(){
				if(local_specializations.indexOf($(this).typeahead('val')) === -1)
					$(this).typeahead('val','');
			});

			$(".area_typeahead").typeahead({
				minLength:0,
				hint: true,
				highlight: true
			}, {
				name: 'areas',
				source: substringMatcher(local_areas),
				limit:100
			})
			.blur(function(){
				if(local_areas.indexOf($(this).typeahead('val')) === -1)
					$(this).typeahead('val','');
			});

			var practitioner_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=practitioner",
					wildcard: '%QUERY'
				}
			});

			var specialization_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=specialization",
					wildcard: '%QUERY'
				}
			});

			var condition_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=condition",
					wildcard: '%QUERY'
				}
			});

			var procedure_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=procedure",
					wildcard: '%QUERY'
				}
			});

			$("#doctor .typeahead").typeahead({
				hint:true,
				highlight:true,
				minLength:1
			},{
				name: 'practitioner',
				display: 'value',
				source: practitioner_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Practitioner</h4>',
					suggestion : function(data){
						return '<div><a href="/physican/'+data.href+'"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			},{
				name: 'specialization',
				display: 'value',
				source: specialization_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Practitioner Specialities</h4>',
					suggestion : function(data){
						return '<div><a href="/practitioner-search/?q='+data.href+'&search.type=specialization&loc=lahore"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			},{
				name: 'condition',
				display: 'value',
				source: condition_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Condition they treat</h4>',
					suggestion : function(data){
						return '<div><a href="/practitioner-search?q='+data.href+'&search.type=condition&loc=lahore"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			},{
				name: 'procedure',
				display: 'value',
				source: procedure_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Procedures they perform</h4>',
					suggestion : function(data){
						return '<div><a href="/practitioner-search?q='+data.href+'&search.type=procedure&loc=lahore"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			});

		});
	</script>

	{% endblock %}