{% extends "base.html" %} {% block seoTags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="specialist doctors clinic information, practicing across pakistan" />
<meta content="best doctors, medics, doctors directory, health, pakistan, doctors in pakistan, lahore,specialist doctors in lahore, pediatrics, child specialist, gyne, gynecologist, psychiatrist, neurologist" name="keywords" />
<meta name="google-site-verification" content="4eQap4DygfxsfuocwBZAZxmS3eXhMVhwlo2KQ47S7-Q" />
<meta property="og:description" content="specialist doctors clinic information, practicing across pakistan" />
<meta property="fb:app_id" content="753672898036503" />
<meta property="og:image" content="http://www.doctorsinfo.pk/static/icons/stethoscope.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.doctorsinfo.pk/" />
<meta property="og:site_name" content="doctorsinfo.pk" />
<link href="http://www.doctorsinfo.pk/" rel="canonical" /> {% endblock %}
{% block title %}doctorsinfo.pk - find a specialist doctor, review doctors, doctor ratings{% endblock %}
{% block profile_completeness %}<li><a class="tooltip-class" href="/dashboard/profile" title="Your Profile Completeness is at {{data.completeness}}. Click to complete your profile now."><div id="profile-completeness-container"></div></a></li>{% endblock %}
{% block home_link %}#{% endblock %}
{% block home_link1 %}#{% endblock %}
{% block home_link2 %}#{% endblock %}
		{% block content %}
		<!-- Start Middle Content -->
		<section class="main-section">
			
			<div class="color-correction"></div>

			<div class="container">
				
				<div class="row row-space-100-0">
					<div class="text-center">
						<h1 style="color: #fafafa">Find a specialist doctor in your area.</h1>
					</div>
					<div class="text-center" style="color: #75e1e5;">
						<span>Know your doctor, better.</span>
					</div>
				</div>
				<div class="row row-space-100-0">
					<div class="col-md-6 col-md-offset-3">
						<form role="form">
							<div class="input-group input-group-lg">
								<input type="text" class="form-control main-search-bar" placeholder="Doctor Name, Speciality or Hospital">
								<span class="input-group-btn">
	                    			<button class="btn btn-danger btn-flat" type="button">Search</button>
	                    		</span>
							</div>
						</form>
					</div>
				</div>

			</div>

		</section>
		<!-- End Middle Content -->

		<section class="secondary-section">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<div class="row row-space-15-0-0-15">
						<div class="text-left">
							<h4>Select by Speciality</h4>
						</div>
					</div>
					<div class="row row-space-0-0-25-0">
						<form role="form" data-toggle="validator" action="{% url 'practitoners' %}" id="searchForm">
							<div class="col-md-4">
								<select id="cityName" data-error="Please select an option" class="form-control" name="city" required>
									<option value="" disabled selected>-Select City-</option>
								</select>
								<span class="help-block with-errors"></span>
							</div>
							<div class="col-md-4">
								<select id="specialityName" data-error="Please select an option" class="form-control" name="spec" required>
									<option value="" disabled selected>-Select Speciality-</option>
								</select>
								<span class="help-block with-errors"></span>
							</div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-danger btn-flat full-width">Search For Doctor</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		{% load staticfiles %}
		<section class="bottom-section">
			<div class="container">
				<div class="col-md-10 col-md-offset-1">

					<div class="row">
						<div class="col-md-6 bottom-section-left">
							<div class="row">
								<div class="bottom-section-left-img text-center">
									<img src="{% static 'assets/img/doctor.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-left-heading text-center">
									<h3>Doctor For You</h3>
								</div>
								<div class="bottom-section-left-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-left-paragraph text-center">
									<p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 bottom-section-right">
							<div class="row">
								<div class="bottom-section-right-img text-center">
									<img src="{% static 'assets/img/kit.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-right-heading text-center">
									<h3>Hospital For You</h3>
								</div>
								<div class="bottom-section-right-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-right-paragraph">
									<p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endblock %}

	{% block customScript %}

	<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				type : 'GET',
				url : '/specializations/',
				data: {},
				success : function (data) {
					for(i=0;i<data.length;i++){
						$("#specialityName").append("<option value='"+data[i].slug+"'>"+data[i].human_name+"</option>");
					}
				},
				error : errorHandler
			});

			$('#profile-completeness-container').circleProgress({
			    startAngle: -90,
			    value: {{data.completeness}}/100,
			    size: 20,
			    lineCap: 'round',
			    thickness:5,
			    {% if data.completeness == 100 %}
			    fill: { color: 'green' }
			    {% else %}
			    fill: { color: '#ffa500' }
			    {% endif %}
			});

			$.ajax({
				type : 'GET',
				url : '/city/',
				data: {},
				success : function (data) {
					for(i=0;i<data.length;i++){
						$("#cityName").append("<option value='"+data[i].slug+"'>"+data[i].name+"</option>");
					}
				},
				error : errorHandler
			});
		});
	</script>

	{% endblock %}