{% extends "base.html" %} {% block seoTags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="specialist doctors clinic information, practicing across pakistan" />
<meta content="best doctors, medics, doctors directory, health, pakistan, doctors in pakistan, lahore,specialist doctors in lahore, pediatrics, child specialist, gyne, gynecologist, psychiatrist, neurologist" name="keywords" />
<meta name="google-site-verification" content="4eQap4DygfxsfuocwBZAZxmS3eXhMVhwlo2KQ47S7-Q" />
<meta property="og:description" content="specialist doctors clinic information, practicing across pakistan" />
<meta property="fb:app_id" content="753672898036503" />
<meta property="og:image" content="http://www.doctorsinfo.pk/static/icons/stethoscope.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.doctorsinfo.pk/" />
<meta property="og:site_name" content="doctorsinfo.pk" />
<link href="http://www.doctorsinfo.pk/" rel="canonical" /> {% endblock %}
{% block title %}doctorsinfo.pk - find specialist doctors, review doctors and doctor ratings{% endblock %}
{% block home_active %}active{% endblock %}
{% load staticfiles %}
		{% block content %}
		<!-- Start Middle Content -->
		<section class="main-section">
			<div class="color-correction"></div>
			<div class="container">
				<div class="row row-space-75-0">
					<div class="text-center">
						<h2 style="color: #fafafa">Find specialist doctors in your area.</h2>
					</div>
					<div class="text-center" style="color: #fafafa;">
						<span>Know your doctor, better.</span>
					</div>
				</div>
				<div class="row row-space-75-0">
					<div class="col-md-8 col-md-offset-2">
						<div class="sky-tabs sky-tabs-amount-3 sky-tabs-pos-top-justify sky-tabs-anim-slide-up sky-tabs-response-to-icons">
							<input type="radio" name="sky-tabs" checked="" id="find-doctors" class="sky-tab-content-1">
							<label for="find-doctors"><span><span><i class="fa fa-user-md"></i>Find Doctors</span></span></label>
							
							<input type="radio" name="sky-tabs" id="find-speciality" class="sky-tab-content-2">
							<label for="find-speciality"><span><span><i class="fa fa-stethoscope"></i>Speciality</span></span></label>
							
							<input type="radio" name="sky-tabs" id="find-adv" class="sky-tab-content-3">
							<label for="find-adv"><span><span><i class="fa fa-cogs"></i>Advanced</span></span></label>
							
							<ul class="custom-sky-tabs-content">
								<li class="sky-tab-content-1">					
									<div class="typography">
										<form class="sky-form custom-sky-form" role="form" action="{% url 'doctor_suggestions' %}" method="GET">
			                            	<fieldset>
			                        			<label class="input input-file">
			                        				<div class="button">
			                        					<input type="submit">
			                        					<i class="fa fa-search"></i>
			                        				</div>
			                        				{{data.doc_form.q}}
			                        				<img class="typeahead-spinner" src="{% static 'assets/img/spinner.gif' %}" style="display: none;">
			                        			</label>
			                        		</fieldset>
			                            </form>
									</div>
								</li>
								<li class="sky-tab-content-2">
									<div class="typography">
										<form role="form" class="sky-form custom-sky-form" action="{% url 'speciality_suggestions' %}" >
											<fieldset>
												<div class="row">
													<section class="col col-5">
							                        	{{data.spec_form.spec.label}}
							                            <label class="select">
							                            	{{ data.spec_form.spec }}
							                            </label>
							                        </section>
							                        <section class="col col-5">
							                        	{{data.spec_form.area.label}}
							                            <label class="select">
							                            	{{data.spec_form.area}}
							                            </label>
							                        </section>
							                        <section class="col col-2">
								                        	<button type="submit" class="button custom-submit-button"><i class="fa fa-search"></i></button>
							                        </section>
												</div>
											</fieldset>
		                                </form>
									</div>
								</li>
								
								<li class="sky-tab-content-3">
									<div class="typography">
										<form role="form" class="sky-form custom-sky-form" action="{% url 'advanced_search' %}" method="POST">{% csrf_token %}
											<fieldset>
												<div class="row">
													<section class="col col-4">
							                        	{{data.adv_form.spec.label}}
							                            <label class="input">
							                            	{{data.adv_form.spec}}
							                            </label>
							                        </section>
							                        <section class="col col-3">
							                        	{{data.adv_form.radius.label}}
							                        	<label class="select">
							                        		{{data.adv_form.radius}}
							                        		<i></i>
							                        	</label>
							                        </section>
							                        <section class="col col-3">
							                        	{{data.adv_form.day.label}}
							                        	<label class="select">
							                        		{{data.adv_form.day}}
							                        		<i></i>
							                        	</label>
							                        	{{data.adv_form.lat}}{{data.adv_form.lon}}
							                        </section>
							                        <section class="col col-2">
								                        	<button type="submit" class="button custom-submit-button" data-geo="false" data-geoerror="" id="adv_search_btn"><i class="fa fa-search"></i></button>
							                        </section>
							                    </div>
							                </fieldset>
							            </form>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bottom-section">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4 bottom-section-left">
							<div class="row">
								<div class="bottom-section-left-img text-center margin20">
									<img src="{% static 'assets/img/doctor.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-left-heading text-center">
									<h3>Doctors for you</h3>
								</div>
								<div class="bottom-section-left-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-left-paragraph text-center">
									<ul class="list-unstyled margintop15">
										{% for pract in data.popular_pract %}
										<li><a href="/physican/{{pract.slug}}">{{pract}}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 bottom-section-left">
							<div class="row">
								<div class="bottom-section-left-img text-center margin20">
									<img src="{% static 'assets/img/hospital.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-left-heading text-center">
									<h3>Hospital/Clinics For You</h3>
								</div>
								<div class="bottom-section-left-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-left-paragraph text-center">
									<ul class="no-list-style">
										<br><li><a href="#">Ammar Medical Complex</a></li>
										<li><a href="#">Farooq Hospital</a></li>
										<li><a href="#">Shifa Clinic</a></li>
										<li><a href="#">Maryam Child Clinic</a></li>
										<li><a href="#">Al-Razi Healthcare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 bottom-section-right">
							<div class="row">
								<div class="bottom-section-right-img text-center margin20">
									<img src="{% static 'assets/img/kit.png' %}" alt="Doctor"/>
								</div>
								<div class="bottom-section-right-heading text-center">
									<h3>Medical Treatments For You</h3>
								</div>
								<div class="bottom-section-right-hr">
									<hr align="center" width="50%">
									<hr align="center" width="50%">
								</div>
								<div class="bottom-section-right-paragraph text-center">
									<ul class="list-unstyled margintop15">
										{% for proc in data.popular_proc %}
										<li><a href="/physicans-directory/{{proc.slug}}-in-procedure">{{proc}}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="divide80"></div>
	{% endblock %}
	{% block pageSpecificCSS %}
	<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/sky-tabs.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/css/sweetalert.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
	{% endblock %}
	{% block pageSpecificJS %}
		<script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/typeahead.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/select2.full.min.js' %}"></script>
	{% endblock %}

	{% block customScript %}

	<script type="text/javascript">

		var local_specializations = Array();
		{% for spec in data.specialities %}
			local_specializations.push("{{spec.human_name}}");
		{% endfor %}
		var local_areas = Array();
		{% for area in sticky_data.areas %}
			local_areas.push("{{area.name}}");
		{% endfor %}
		local_areas.sort();

		var substringMatcher = function(strs) {
		  return function findMatches(q, cb) {
		    var matches, substringRegex;
		 
		    // an array that will be populated with substring matches
		    matches = [];
		 
		    // regex used to determine if a string contains the substring `q`
		    substrRegex = new RegExp(q, 'i');
		 
		    // iterate through the pool of strings and for any string that
		    // contains the substring `q`, add it to the `matches` array
		    $.each(strs, function(i, str) {
		      if (substrRegex.test(str)) {
		        matches.push(str);
		      }
		    });
		 
		    cb(matches);
		  };
		};
		$(document).ready(function(){

		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(showPosition,showError);
		    } else {
		        $("#adv_search_btn").data("geo","true");
		        $("#adv_search_btn").data('geoerror','Geolocation is not supported by this browser.');
		    }

		    $("#id_spec").select2({
		    	placeholder: 'Select Speciality',
		    	allowClear: true
		    });

		    $("#id_area").select2({
		    	placeholder: 'Select Area',
		    	allowClear: true
		    });

		    $("#id_spec").select2("val", "");
		    $("#id_area").select2("val", "");

			/********* Twitter typeahead with bloodhound *******/

			$(".spec_typeahead").typeahead({
				minLength:0,
				hint: true,
				highlight: true
			}, {
				name: 'specialization',
				source: substringMatcher(local_specializations),
				limit:1000
			})
			.blur(function(){
				if(local_specializations.indexOf($(this).typeahead('val')) === -1)
					$(this).typeahead('val','');
			});

			$(".area_typeahead").typeahead({
				minLength:0,
				hint: true,
				highlight: true
			}, {
				source: substringMatcher(local_areas),
				limit:100
			})
			.blur(function(){
				if(local_areas.indexOf($(this).typeahead('val')) === -1)
					$(this).typeahead('val','');
			});

			var practitioner_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=practitioner",
					wildcard: '%QUERY'
				}
			});

			var specialization_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=specialization",
					wildcard: '%QUERY'
				}
			});

			var condition_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=condition",
					wildcard: '%QUERY'
				}
			});

			var procedure_engine = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: "{% url 'doctor_suggestions' %}?q=%QUERY&type=procedure",
					wildcard: '%QUERY'
				}
			});

			$(".doc-typeahead").typeahead({
				hint:true,
				highlight:true,
				minLength:1
			},{
				name: 'practitioner',
				display: 'value',
				source: practitioner_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Practitioner</h4>',
					suggestion : function(data){
						return '<div><a href="/physican/'+data.href+'"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			},{
				name: 'specialization',
				display: 'value',
				source: specialization_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Practitioner Specialities</h4>',
					suggestion : function(data){
						return '<div><a href="/practitioner-search/?q='+data.href+'&search.type=specialization&loc=lahore"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			},{
				name: 'condition',
				display: 'value',
				source: condition_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Condition they treat</h4>',
					suggestion : function(data){
						return '<div><a href="/practitioner-search?q='+data.href+'&search.type=condition&loc=lahore"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			},{
				name: 'procedure',
				display: 'value',
				source: procedure_engine,
				limit:5,
				templates: {
					header: '<h4 class="league-name">Procedures they perform</h4>',
					suggestion : function(data){
						return '<div><a href="/practitioner-search?q='+data.href+'&search.type=procedure&loc=lahore"><div class="suggestion-link">' + data.value + '</div></a></div>';
					}
				}
			})
			.on('typeahead:asyncrequest', function() {
			    $('.typeahead-spinner').show();
			    $("input[name='q']").css('color','rgba(0,0,0,0.3)');
			})
			.on('typeahead:asynccancel typeahead:asyncreceive', function() {
				$('.typeahead-spinner').hide();
				$("input[name='q']").css('color','inherit');
			});

		});

		function showPosition(position) {
		    $("#id_lat").val(position.coords.latitude);
		    $("#id_lon").val(position.coords.longitude);
		}

		function showError(error) {
			$("#adv_search_btn").data('geo','true');
		    switch(error.code) {
		        case error.PERMISSION_DENIED:
		        	$("#adv_search_btn").data('geoerror','User denied the request for Geolocation.');
		            break;
		        case error.POSITION_UNAVAILABLE:
		        	$("#adv_search_btn").data('geoerror','User Position unavailable');
		            break;
		        case error.TIMEOUT:
		        	$("#adv_search_btn").data('geoerror','Not possible to get location at the moment. Please try again later');
		            break;
		        case error.UNKNOWN_ERROR:
		            $("#adv_search_btn").data('geoerror','Not possible to get location at the moment. Please try again later');
		            break;
		    }
		}

		$("#adv_search_btn").click(function(e){
			if($("#adv_search_btn").data('geo') == "true"){
				e.preventDefault();
				swal({title: "GeoLocation Error!",text: $("#adv_search_btn").data('geoerror'),type: "warning"});
			}
		});

		$(".city_name").on("click",function(){
			var city_slug = $(this).data("cityslug");
			$.ajax({
				type: "GET",
				url: "{% url 'practice_areas' %}",
				data: {'city':city_slug,'header_city':true},
				success: function(data){
					$("#curr_city").text(city_slug);
					$("#curr_city").data("cityslug",city_slug);
					local_areas = Array();
					for(i=0;i<data['areas'].length;i++){
						local_areas.push(data['areas'][i]);
					}
					$(".area_typeahead").typeahead('destroy');
					$(".area_typeahead").typeahead('destroy');
					$(".area_typeahead").typeahead({
						minLength:0,
						hint: true,
						highlight: true
					}, {
						source: substringMatcher(local_areas),
						limit:100
					})
					.blur(function(){
						if(local_areas.indexOf($(this).typeahead('val')) === -1)
							$(this).typeahead('val','');
					});
				}
			});
		});
	</script>

	{% endblock %}