{% extends 'base.html' %}
{% block title %}doctorsinfo.pk - User Agreement{% endblock %}

{% block content %}
	<div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>User Agreement</h4>
                </div>
                <div class="col-sm-6 hidden-xs text-right">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>User Agreement</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->
    <div class="divide40"></div>
    <div class="container">

    </di>
{% endblock %}