{% extends 'base.html' %}
{% block title %}doctorsinfo.pk - User Agreement{% endblock %}

{% block content %}
	<div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>User Agreement</h4>
                </div>
                <div class="col-sm-6 hidden-xs text-right">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>User Agreement</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--breadcrumbs-->
<div class="divide40"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin20">
                <h3 class="heading">DISCLAIMER !!</h3>
                <p style="color: red;">
                    In case of any medical emergency, Kindly contact the rescue service available in your area.
                </p>
                <p>
                    The information on doctorinfo.pk's web site is provided "as is". doctorinfo.pk makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, doctorinfo.pk does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the information on its Internet web site or otherwise relating to such information or on any sites linked to this site.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin20">
                <h3 class="heading">1. Purpose</h3>
                <p>
                    Our mission is to connect the society to medical practitioners. Our services are designed to promote online health care awareness enabling you and other patients to meet, exchange and share their recent experience with practitioners.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin20">
                <h3 class="heading">2. Revisions and Errors</h3>
                <p>
                    The information appearing on doctorinfo.pk's web site could include technical, typographical, or photographic errors. doctorinfo.pk does not warrant that any of the information on its web site are accurate, complete, or current. doctorinfo.pk may make changes to the information contained on its web site at any time without notice. doctorinfo.pk does not, however, make any commitment to update the information.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin20">
                <h3 class="heading">3. Your Membership</h3>
                <p>
                    As between you and others, your account belongs to you. You agree to:
                </p>
                <ul>
                    <li>try to choose a strong and secure password.</li>
                    <li>remember information so you will not have to re-enter it during your visit or the next time you visit the Service.</li>
                    <li>keep your password secure and confidential</li>
                    <li>not transfer any part of your account</li>
                    <li>Follow the law and the Dos and Don'ts below. You are responsible for anything that happens through your account unless you close it or report misuse.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divide40"></div>
{% endblock %}