/* style sheet	fonts: open sans, Lato, Ubuntu, Droid Serif #0099FF #610B5E
light green-playstore DCEDC6, sky-blue: 94cbc6, pink- #F94877, orange- #FF9000, light-gray #f5f5f5, dark-grey: #4b555d;
ICI #ccccd5, rxlist: #e6e6e8; nexus6. #455a64, light-grey #f1f1f1, troqise. #26c6da
*/
body{font-family: Arial;}
p {	font-weight: normal; }
ul{ list-style-type: none; padding: 0px;}
ul li {list-style-type: none; display: inline;}
ul a { list-style-type: none;}
h1 { font-size: 20px;}
/* General*/

.ui-content {width: 1170px; height: 535px; margin: 0px auto;}
#head { float: right; margin: -35px 20px 0px 0px; font-size: 16px; text-align: center;}
.anchor { color: #000 ! important; }
.anchor-link {	text-decoration: none !important; color: #1B0A2A !important; font-size: 14px;}
.anchor-link a:hover {	color: #ffffff; }
#user { float:right; text-decoration: none; color: #000000; background-color: #DCEDC6;}
.anchor-link-right {float:right; text-decoration: none !important; color: #000000 !important; font-size: 14px;}
.anchor-link-left {	float:left; text-decoration: none !important; color: #000000 !important;  margin-top: 30px; font-size: 14px; }
.loginSignup { margin: 30px auto;} .float-right{ float: right;} .float-left{ float: left;} .textCentre { text-align: center;}

/* Borders */
#border-left {float: left; background-color: #e6e6e8; width: 200px;}
#border-right { float: right; background-color:  #e6e6e8; width: 200px;}

/* Index	*/
#search { width: 580px; height: 350px; float: left; margin: 20px 300px; padding: 0px 20px; 
	color: #ffffff; background-color: #455B70 !important; text-shadow: none;}
#search select { float: left;} #search h2 { font-size: 18px; text-align: center;} 
#search li button { float: right; width: 90px; height: 40px; color: #3eb249; padding: 0px;}
.advsearch { height: 495px ! important; }

/*#search-btn{	}*/
.inline_ { display: inline; padding: 0px; margin: 0px; }
.normalweight { font-weight: normal;}
.marg-r{ padding-right: 10px; }  .marg-l{ padding-left: 10px; } .marg-b{ padding-right: 10px; } .marg-t{ padding-top: 10px; }
.break { display: block;} .inlineB { display: inline-block;}

/* Results */
.results li:nth-child(odd):not(.ui-li-divider), .results li:nth-child(odd):not(.ui-li-divider) a { background-color: #ccccd5 !important; text-shadow: none;}
.ui-content .ui-listview-inset, .ui-panel-inner > .ui-listview-inset { margin: 0em 0em;}

/* Practitioner details */
#practitionerDetails{ padding: 0; float: none;	text-align: center; margin: 10px auto; font-weight: normal;}
#practitionerDetails span { display: block;}
.silver-img { float: right;}

.grid-name { float: left; margin: 0px 10px 0px 0px; width: 320px;  text-shadow: none;}
.grid-name h2 { border: 2px solid #e6e6e8; color: #fff; text-align: center; font-size: 14px; 
	height: 20px; padding: 10px 0px; margin-bottom: 0px;}
.grid-name h3 { color: #000; text-align: center; font-size: 14px; padding: 0px; margin: 0px;}

.clinic{width: 290px; float: left; padding: 0px 15px 0px 15px; margin-bottom: 20px; 
	font-weight: normal; clear: none; color: #000; background-color: #ccccd5;}

.clinic ul li { padding-right: 20px;  display: block; width: 100%;} 
.clinic ul li span{ float: left; width: 260px; } 
.clinic ul li i { float: left; width: 10px; height: 20px; padding-right: 20px;}
.clinic .sorry-msg { float: left; font-size: 14px; padding-bottom: 10px; width: 100%;}
.clinic p { width: 200px; padding: 0px 10px; font-size: 15px; margin: 0px auto;} 
.clinic .day  { float: left; width: 25px; padding-right: 15px; } .clinic .start { float: none; width: 25px; padding: 0px 10px; } .clinic .end { float: right; width: 25px;}
.clinic .description { float: left; width: 25px; padding-right: 35px;}

.map-marker { float: right; padding: 10px 0px 10px 0px;}
.modified { float: left; padding-top: 20px; } .modified span { padding-left: 5px; font-size: 14px;}
.clock .timings { padding-left: 5px; text-decoration: underline; }

.reviews{ width: 320px; float: left; overflow-x:auto; font-weight: normal; clear: none; background-color: #e6e6e8; color: #000;}
.reviews .oneComment { background-color: #fff; border: 1px solid #4b555d; margin: 10px; padding: 5px 5px;}
.reviews .patientName {font-weight: bold; color: #4285f4; padding-bottom: 5px; } 
#reviewBox { float: left; width: 310px; font-weight: normal; margin: 0px 5px;}
.up { padding: 10px 10px 0px 0px;} 

#post-review-btn{	width: 60px; height: 30px; color: #3eb249; float: right; padding: 0px; margin-top: 0px;}
.small-font {font-size: 13px;}

/* Patient Profile	*/
#update-btn{	float: right; width: 90px; height: 40px; color: #3eb249; margin: 0px auto; padding: 0px;}

.profile {	width: 100%; float: left; margin: 10px; font-weight: normal; clear: none; text-align: center;
color: #ffffff; background-color: #455a64; text-shadow: none; }
.profile span { padding-right: 10px; }

.patient-reviews{	width: 300px; float: left; margin: 5px; font-weight: normal; clear: none; background-color: #DCEDC6;}
.patient-reviews h2 { color: #000; text-align: center; font-size: 16px;}
.patient-reviews ul li {padding: 0px; margin: 0px;}
.patient-reviews ul li span { float left; width: 240px; padding-left: 10px; font-size: 14px; display: inline-block;}
.patient-reviews i { padding-right: 10px; float: right;}
.patient-reviews p { padding: 20px 10px 0px 10px; font-size: 15px;}

.favourite-pracs{	width: 300px; float: left; margin: 5px; font-weight: normal; clear: none; background-color: #DCEDC6;}
.favourite-pracs span { padding: 0px 0px 0px 10px; display: inline-block; margin: 0px;} 
.favourite-pracs h2 { color: #000; text-align: center; font-size: 16px;}
.favourite-pracs i { padding-right: 10px; float: right;}

.subscribe-spec{	width: 300px; float: left; margin: 5px; font-weight: normal; clear: none; background-color: #DCEDC6;}
.subscribe-spec span { margin-left: 35px; display: block;} 
.subscribe-spec h2 { color: #000; text-align: center; font-size: 16px;}
.subscribe-spec ul li { display: inline; margin: 0px; padding: 0px;} .subscribe-spec p { padding: 60px 10px 0px 10px; font-size: 15px;}
.subscribe-spec .ui-checkbox input, .ui-radio input { margin: 0px;} 
#subscribe-btn{	float: right; width: 100px; height: 40px; color: #3eb249; margin: 10px 10px 20px 0px; padding: 0px; display: block;}

.ui-footer .ui-title { margin: 0px auto !important;}
.foot h4 { width: 580px !important;} 
.foot .get-listed { float: left; padding: 0px 30px 0px 10px !important;}
.foot .educate { float: right; padding: 0px 0px 0px 0px !important;}
.foot a { padding-left: 25px; text-decoration: none; color: #000 !important; font-size: 14px; }

/* Responsive for mobile devices */
@media only screen and (max-width: 767px) {
	h1 { font-size: 18px;}
	p {	font-weight: normal;}
	.ui-content { width: 320px !important; height: 390px !important;}
	.marg-l { padding-left: 5px;}
	.anchor-link-right { float:right; text-decoration: none; color: #000000;  font-size: 12px;}
	#search { width: 280px !important; height: 320px; margin: 30px auto 0px auto; }
	#search label { font-size: 12px; } #search a { font-size: 16px;}
	#search h2 { font-size: 16px; text-align: center;}
	.advsearch { height: 460px !important; margin: 0px auto !important; }
	
	.profile {  width: 230px; padding: 10px; }
	.profile ul li span { display: block; float: left;}
	.no-button { width: 10px; height: 10px; margin: 0px; padding: 0px; float: right; display: inline;}
	.foot h4 { width: 320px !important; } .foot a { padding: 0px 20px 0px 10px;}
}
/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width : 480px){}


/* For iphone: */
@media screen and (max-width : 320px){} 


/* For ipad: */
@media screen and (max-width : 768px){} 