<!DOCTYPE html> 
<html>
<head>
	<title>docors</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{STATIC_URL}}jqueryMobile/jquery.mobile-1.4.4.min.css" />
	<script src="{{STATIC_URL}}jqueryMobile/jquery.mobile-1.4.4.min.js"></script>
	<script src="{{STATIC_URL}}jqueryMobile/jquery-1.9.0.min.js"></script>
</head>

<body>

<div data-role="page">

	<div data-role="header">
		<h2>Specialist Doctors around you..</h2>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	<label for="search-2">Search Input:</label>
	<input type="search" name="search-2" id="search-2" value="" placeholder="Doctor or Speciality" >
	</div><!-- /content -->

	<div data-role="footer">
		<h4>all rights reserved-2014</h4>
	</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>

