{% load i18n %}
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
      	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
      	<!-- ///  page title  /// -->
      	<title>{% block title %}{% endblock %}</title>
      	<meta name="description" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />

      	<!-- /// font icons  /// -->
      	<link rel="stylesheet" type="text/css" href="{% static "assets/fonts/fontawesome/css/font-awesome.min.css" %}">
      	<link rel="stylesheet" type="text/css" href="{% static "assets/fonts/linecons/css/linecons.css" %}">
      	<!-- ///  google fonts  /// -->
      	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
      	<!-- ///  animate.css  /// -->
      	<link rel="stylesheet" type="text/css" href="{% static "assets/css/plugins/animate/animate.css" %}">
      	<!-- ///  bootstrap-select.css /// -->
      	<link rel="stylesheet" type="text/css" href="{% static "assets/css/plugins/select/bootstrap-select.css" %}">
      	<!-- ///  bootstrap.css  /// -->
      	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.1.1/css/bootstrap.css" %}">      
      	<!-- ///  main CSS file  /// -->        
      	<link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}"> 
  
  	{% block seoTags %}{% endblock %}
  	<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  	{% block reCaptcha %}{% endblock %}
</head>
<body class="remove-scroll">
    <!-- ///  preloader  /// -->
    <div class="preloader">
      <img src="{% static "assets/img/loader.GIF" %}" class="loader" alt="">
    </div>
    <!-- ///  begin header  /// -->
    <header class="main-header">
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="25" src="{% static "icons/doctors.png" %}" alt="logo"/></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="nav">
		{% if not data.user.is_authenticated %}
              <li class="active"><a href="#home">Login</a></li>
              <li><a href="#schedule">Register</a></li>
		{% endif %}
              <li><a href="#ourLocation">Get Listed as a Doctor</a></li>
              <li><a href="#schedule">Know Your Doctor</a></li>
              <li><a href="#multimedia">Contact Us</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <!-- ///  end header  /// -->
    <div itemscope itemtype="{% block seoItemTags %}{% endblock %}" role="main" class="{% block containerClass %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>
    <!-- ///  start script  /// -->
    <!-- ///  libs  /// -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>        
    <script src="{% static "assets/js/libs/modernizr-latest.js" %}"></script>        
    <script src="{% static "assets/js/libs/jquery-1.11.0.min.js" %}"></script>     
    <script src="{% static "bootstrap-3.1.1/js/bootstrap.min.js" %}"></script>   
    <!-- ///  plugins  /// -->
    <script src="{% static "assets/js/plugins/fitvids/jquery.fitvids.js" %}"></script>
    <script src="{% static "assets/js/plugins/select/bootstrap-select.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/gmap3/gmap3.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/scrollTo/jquery.scrollTo.js" %}"></script>
    <script src="{% static "assets/js/plugins/nav/jquery.nav.js" %}"></script>
    <script src="{% static "assets/js/plugins/countdown/countdown.js" %}"></script>
    <script src="{% static "assets/js/plugins/placeholder/jquery.placeholder.js" %}"></script>
    <script src="{% static "assets/js/plugins/validator/jquery.form-validator.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/wow/wow.min.js" %}"></script>        
    <script src="{% static "assets/js/main.js" %}"></script>
    <!-- ///  google analytics  /// -->
    {% block customScript %}{% endblock %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57178431-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
  </html>
