{% extends "registration/base.html" %} {% block title %}Log In | Doctors Info, Pakistan{% endblock %} {% load staticfiles %} {% block pageSpecificCSS %}
	<link rel="stylesheet" href="{% static "assets/login/css/typica-login.css" %}">
	<link rel="stylesheet" href="{% static "assets/login/css/bootstrap-tagsinput.css" %}">
{% endblock %}

{% block customStylesheet %}
	<style>
		body{font-size:14px !important;}
		.navbar-custom .navbar-toggle .icon-bar {background-color: #888888 !important;}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		{% block login_content %}{% endblock %}
	</div>
	<footer class="white navbar-fixed-bottom">
		<div class="row">
			{% block login_footer %}{% endblock %}
		</div>
	</footer>
{% endblock %}

{% block pageSpecificJS %}
	<script src="{% static "assets/login/js/backstretch.min.js" %}"></script>
	<script src="{% static "assets/login/js/bootstrap-tagsinput.min.js" %}"></script>
	<script src="{% static "assets/login/js/bootstrap3-typeahead.min.js" %}"></script>
{% endblock %}

{% block customScript %}
<script type="text/javascript">
	$('document').ready(function(){
		$.backstretch([
      "{% static "assets/login/img/bg1.png" %}", 
      "{% static "assets/login/img/bg2.png" %}"
  	], {duration: 3000, fade: 750});
	});
</script>
{% endblock %}
