{% extends "registration/login_base.html" %}
{% block loginClass %}active{% endblock %}
{% block login_content %}
{% if form.errors %}
{% block customStylesheet %}<style>#login-wrapper{height:410px;}</style>{% endblock %}
{% endif %}
<!-- BEGIN LOGIN FORM -->
	{% if form.errors %}
        <div id="login-wraper" class="with-error">
	<div class="alert alert-warning" style="color: #911;background-color: #fcdede;border-color: #d2b2b2;">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		Incorrect User Name or Password
	</div>
	{% else %}
	<div id="login-wraper">
	{% endif %}
            <form class="form login-form" action="" method="post">{% csrf_token %}
                <legend>Sign in to <span class="blue">DoctorsInfo</span></legend>
            
                <div class="body">
                    <label>Username</label>
                    {{form.username}}
                    
                    <label>Password</label>
                    {{form.password}}
                </div>
            
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                    </label>
                                
                    <button type="submit" class="btn btn-success">Signin</button>
                </div>
            
            </form>
        </div>
{% endblock %}

{% block login_footer %}
      Don't have an account yet? <a href="register.html" class="btn btn-black">Register</a>
{% endblock %}
