{% extends "base.html" %}
{% load staticfiles %}
{% block pageSpecificCSS %}<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="breadcrumb-wrap breadcrumb-light" style="background-color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Create new Account</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>Register</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumb light-->
<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 margin30">
            <h3 class="heading">Welcome to DoctorsInfo</h3>
            <p>
                Kindly register and help us making DoctorsInfo, A Spam free health forum for you, You'll never receive Spam advertisement in your email, you'll only get what you have subscribed on user dashboard.
            </p>
            <div class="divide50"></div>
            <h3 class="heading">Follow us</h3>
            <ul class="list-inline social-1 reg-social">
                <li><a href="https://fb.com/doctorsinfo.pk" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/doctorsinfo_pk" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/+DoctorsinfoPk" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-sm-6 sky-form-login-register v2">
            <div class="margin40">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {% for key, value in form.errors.items %}
                            {{ value }}
                        {% endfor %}
                    </div>
                {% endif %}
                <form id="sky-form" class="sky-form" method="post" action="{% url 'registration_register' %}">{% csrf_token %}
                    <h3 class="text-center">Create new account with DoctorsInfo</h3>
                    <fieldset>
                        <section>
                            <label>{{form.full_name.label}}</label>
                            <label class="input">
                                {{form.full_name}}
                            </label>
                        </section>
                        <section>
                        <label>{{form.email.label}}</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                {{form.email}}
                                <b class="tooltip tooltip-bottom-right">You'll be sent an activation email</b>
                            </label>
                        </section>
                        <section>
                        <label>{{form.password1.label}}</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                {{form.password1}}
                                <b class="tooltip tooltip-bottom-right">aplha-numeric is good.</b>
                            </label>
                        </section>
                        <section>
                        <label>{{form.password2.label}}</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                {{form.password2}}{{form.is_active}}
                                <b class="tooltip tooltip-bottom-right">{{form.password2.help_text}}</b>
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="button">Create account</button>
                    </footer>
                </form>         
            </div><!--login form wrap end-->
        </div>
    </div>
</div>
{% endblock %}
{% block pageSpecificJS %}
<script type="text/javascript">
    $(document).ready(function(){
        // Validation
        $("#sky-form").validate({
            // Rules for form validation
            rules:
            {
                email:
                {
                    required: true,
                    email: true
                },
                password1:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                password2:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 20,
                    equalTo: '#id_password1'
                },
                full_name:
                {
                    required: true
                }
            },
            // Messages for form validation
            messages:
            {
                email:
                {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                password1:
                {
                    required: 'Please enter your password'
                },
                password2:
                {
                    required: 'Please enter your password one more time',
                    equalTo: 'Please enter the same password as above'
                },
                full_name:
                {
                    required: 'Please select your first name'
                }
            },
            // Do not change code below
            errorPlacement: function(error, element)
            {
                error.insertAfter(element.parent());
            }
        });
});
</script>
{% endblock %}