{% extends "base.html" %}
{% load staticfiles %}
{% block pageSpecificCSS %}<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="breadcrumb-wrap breadcrumb-light" style="background-color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Create new Account</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>Register</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumb light-->
<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 margin30">
            <h3 class="heading">Welcome to DoctorsInfo</h3>
            <p>
                Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.
            </p>

            <div class="divide50"></div>
            <h3 class="heading">Follow us</h3>
            <ul class="list-inline social-1 reg-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-sm-6 sky-form-login-register v2">
            <div class="margin40">
                <form id="signup_form" role="form" class="form patient_register sky-form" method="post" action="{% url 'registration_register' %}" data-toggle="validator">{% csrf_token %}
                    <h3 class="text-center">Create new account with DoctorsInfo</h3>

                    <fieldset>
                        <input type="text" name="username" placeholder="Username" id="username" hidden>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" name="email" id="email" placeholder="Email address" required>
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" placeholder="Password" id="password" required>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="passwordConfirm" placeholder="Confirm password" required>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <input type="text" name="firstname" placeholder="First name" required>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <input type="text" name="lastname" placeholder="Last name" required>
                                </label>
                            </section>
                        </div>

                        <!--<section>
                            <label class="select">
                                <select name="gender">
                                    <option value="0" selected disabled>Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                </select>
                                <i></i>
                            </label>
                        </section>-->

                        <section>
                            <label class="checkbox"><input type="checkbox" name="terms" id="terms"><i></i>I agree with the Terms and Conditions</label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="button">Create account</button>
                    </footer>
                </form>         
            </div><!--login form wrap end-->

        </div>
    </div>
</div>
{% endblock %}