{% extends 'patients/dashboard_base.html' %}
{% load staticfiles %}
{% block dashboard_content %}
<div class="col-sm-12">
    <h3 class="heading">Interested Specialities</h3>
</div>
<div class="col-md-12 main-doctor-holder">
    {% for spec in data.int_specialities %}
    <div class="addition-amenities">
        <span class="available"><i class="fa fa-check-square"></i>{{spec.human_name}}</span>
    </div>
    {% empty %}
    <div class="col-md-12 text-center error-text">
        <h1 class="error-digit"><i class="fa fa-heartbeat"></i></h1>
        <h2>Opps, your speciality list is empty.</h2>
        <p><a href="#" class="btn border-black btn-lg">Add Specialities</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
