{% extends 'patients/dashboard_base.html' %}
{% block dashboard_content %}
<div class="col-sm-12">
    <h3 class="heading">Profile</h3>
</div>
<div class="col-md-12 sky-form-login-register v2">
    {% if profile_form.errors %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ profile_form.errors.as_ul}}
    </div>
    {% endif %}
    <form action="" method="POST" class="sky-form">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <section>
                    <label class="label">Full Name</label>
                    <label class="input">
                        {{profile_form.full_name}}
                    </label>
                </section>
            </div>
            <div class="row">
                <section>
                    <label class="label">Year of Birth</label>
                    <label class="select">
                        {{profile_form.year_of_birth}}
                    </label>
                </section>
            </div>
            <div class="row">
                <section>
                    <label class="label">Cell Number</label>
                    <label class="input">
                        {{profile_form.cell_number}}
                    </label>
                </section>
            </div>
            <div class="row">
                <section>
                    <label class="label">City</label>
                    <label class="select">
                        {{profile_form.city}}
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <footer>
                <div class="row">
                    <button type="submit" class="button">Update</button>
                </div>
            </footer>
        </fieldset>
    </form>
</div>
{% endblock %}

{% load staticfiles %}
{% block pageSpecificCSS %}
<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet">
{% endblock %}

{% block customScript %}
<script type="text/javascript">
    $("#id_year_of_birth").select2({'placeholder':'Select birth Year'});
    $("#id_city").select2({'placeholder':'Select City'});

    function reset_values(){
      $("#id_firstname").val("{{data.patient.user.first_name}}");
      $("#id_lastname").val("{{data.patient.user.last_name}}");
      $("#id_age option[value='{{data.patient.age_group}}']").prop('selected',true);
      $("#id_gender option[value='{{data.patient.gender}}']").prop('selected',true);
      $("#id_number").val("{{data.patient.cell_number}}")
    }
</script>
{% endblock %}
