<!DOCTYPE html> 
<html>
   <head>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
  <link rel="stylesheet" href="{% static "style/style.css" %}"rel="stylesheet" type="text/css" />
</head>
   <body>
      <div data-role="page" data-title="{{data.patient.user.username}} | doctorsinfo.pk">
         <div data-role="header">
         <h1><a href="/" class="anchor-link" >
         <img class="marg-r" src="{% static "icons/stethoscope.png" %}" height="18" width="18" />doctorsinfo.pk</a></h1>
            <div id="head">
      		{% if data.user.is_authenticated %}
        	   <a href="/logout/" style: id="user" >Log Out.</a>
            {% else %}
            <a href="/register/" style: id="user" >Sign Up</a>
      		{% endif %}
      </div>

         </div>
        <div role="main" class="ui-content container">
         {% if data.user.is_authenticated %}
            <div class="ui-grid-b">
               <div class="ui-block-a" id="patient-profile">
                  <div class="ui-bar ui-bar-a lightgreen-bg">
                     <!--Patient Profile -->
                     <ul class="normalweight">
                     <li>
                     <center>
                        <h2><u>Patient Detail</u></h2>
                     </center>
                     </li>
                     <br>
                     <span>username: <strong>{{data.patient.user.username}}</strong></span><br>
                     <span>email: <strong>{{data.patient.user.email}}</strong></span><br>
                     {% if data.patient.user.get_full_name and data.patient.cell_number and data.patient.gender %}
                     <span>First name: <strong>{{data.patient.user.first_name}}</strong></span><br>
                     <span>Last Name: <strong>{{data.patient.user.last_name}}</strong></span><br>
                     <span>Cell Number: {{data.patient.cell_number}}</span><br>
                     <span>Gender: {{data.patient.get_gender_display}}</span><br>
                     <span>Age-Group: {{data.patient.get_age_group_display}}</span>
                     {% else %}
                     <form action="{% url 'patient' %}" method="POST">{% csrf_token %}
                     <span><strong>First Name: <input type="text" name="fname" /></strong></span>
                     <span><strong>Last Name: <input type="text" name="lname" /></strong></span>
                     <span><strong>Cell Number: <input type="text" name="number" /></strong></span>
                     <span><strong>Gender: </strong><select name="gender">
                     <option value="S">Prefer not to answer</option>
                     <option value="M">Male</option><option value="F">Female</option>
                     </select></span>
                     <span><strong>Age Group: </strong><select name="age">
                     <option value="10">10-14</option><option value="15">15-19</option><option value="20">20-24</option>
                     <option value="25">25-29</option><option value="30">30-34</option><option value="35">35-39</option>
                     <option value="40">40-44</option><option value="45">45-49</option><option value="50">50-54</option>
                     <option value="55">55-59</option><option value="60">60-64</option><option value="65">65-69</option>
                     <option value="80">80-84</option><option value="85">85+</option>
                     </select></span>
                     <button type="submit" id="post-review-btn" class="ui-btn ui-corner-all ui-btn-a">Update</button></form>
                     {% endif %}
                     </ul>
                  </div>
               </div>
               <!--patient reviews-->
               <div class="ui-block-b" id="patient-reviews">
                  <div class="ui-bar ui-bar-a">
                  <ul class="normalweight">
                     <li><center>
                        <h2><u>Reviews List</u></h2>
                     </center></li><br>
                     {% if data.reviews.exists %}
                     <li><span><strong>Review</strong></span></li>
                     <li><span><strong>Practitioner</strong></span></li>
                     {% for pr in data.reviews.iterator %}
                     <li><span class="marg-r">* {{pr.practitioner.name}}</span></li>
                     <li><span>'{{pr.review_text}}'</span></li>
                     {% endfor %}
                     {% else %}
                     <center><li>No Reviews from you about any Practitioner :(</li></center>
                     </ul>
                     {% endif %}
                  </div>
               </div>
               <!--favourite Practitioner -->
               <div class="ui-block-c" id="favourite-pracs">
                  <div class="ui-bar ui-bar-a">
                     <ul class="normalweight">
                     <li><center>
                        <h2><u>Favourite Practitioners</u></h2>
                     </center></li><br>
                     {% if data.patient.favt_practitioner.all.exists %}
                     <li><span class="marg-r"><strong>Name</strong></span></li>
                     <li><span style="margin-left: 100px;"><strong>Specialist</strong></span></li><br>
                     {% for practitioner in data.patient.favt_practitioner.all.iterator %}
                     <li><span class="marg-r">* {{practitioner.name}}</span></li>
                     {% for speciality in practitioner.specialities.all.iterator %}
                     <li>{{speciality.name}}</li>
                     {% endfor %}
                     {% endfor %}
                     {% else %}
                     <center>
                        <span>No favourite Practitioner, yet. :(</span>
                     </center>
                     {% endif %}
                     </ul>
                  </div>
               </div>
                <!--subscribe Specialities -->
                <div class="ui-block-c" id="subscribe-spec">
                  <div class="ui-bar ui-bar-a">
                     <ul class="normalweight">
                     <li><center>
                        <h2><u>Subscibe for Specialities</u></h2>
                     </center></li><br>
                     <li><span style="margin-left: 100px;"><strong>Name</strong></span></li><br>
                     <form action="{% url 'patient' %}" method="POST">{% csrf_token %}
                     {% if data.patient.interested_specialities.all.exists %}
                     {% for spec in data.patient.interested_specialities.all.iterator %}
                        <li class="marg-r"><input type="checkbox" name="favt-spec" value="{{spec.name}}" checked>
                        <span>{{spec.name}}</span></li>
                     {% endfor %}
                     {% else %}
                     {% for spec in data.specialities.iterator %}
                        <li class="marg-r"><input type="checkbox" name="spec" value="{{spec.name}}">
                        <span>{{spec.name}}</span></li>
                     {% endfor %}
                     {% endif %}
                     <button type="submit" id="post-review-btn" class="ui-btn ui-corner-all ui-btn-a">Subscribe</button>
                     </form>
                     <span>Please Select the above categories to get specific updates about latest research and tips, weekly.</span>
                     </ul>
                  </div>
                </div>
                <!-- No user login-->
                {% else %}
                <center><a href="/login/" class="ui-btn ui-corner-all ui-shadow loginSignup">Login</a></center>
               <center><a href="/register/" class="ui-btn ui-corner-all ui-shadow loginSignup">Sign Up</a></center>
               <center><a href="/password/reset/" class="ui-btn ui-corner-all ui-shadow loginSignup">Forgot Password</a></center>
                {% endif %}
            </div>
         </div>
         <!-- Footer Details -->
         <div data-role="footer">
            <h4>&copy; all rights reserved-2014 &reg;</h4>
         </div>
      </div>
   </body>
</html>