<!DOCTYPE html>
<html>
<head>
  {% load static from staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />
  <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false;
    });
  </script>
  <script async language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "style/style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <div data-role="page" id="advance" data-theme="a" data-title="specialist doctors clinic information across Pakistan">
    <div data-role="header">
      <h1><a href="/" class="anchor-link" ><i class="fa fa-stethoscope fa-1x marg-r"></i>doctorsinfo.pk</a></h1>
      <div id="head">
        {% if data.user.is_authenticated %}
        <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
        {% else %}
        <a href="/login/" class="anchor-link" >Login</a><span>&nbsp;/</span>
        <a href="/register/" style: class="anchor-link" >Register</a>
        {% endif %}
      </div>
    </div>

    <div role="main" class="ui-content">
      <div id="search" class="advsearch">
        <ul>
          <li><h2>Search Specialist Doctors in your area.</h2></li>
          <form action="{% url 'practitoners' %}" class="searchForm">
            <li><label for="city">City</label>
              <select name="city" required>
                <option value="">- Select City -</option>
                {% for city in data.cities.iterator %}
                <option value="{{city.slug}}">{{city.name}}</option>
                {% endfor %}
              </select>
            </li>
            <li>
              <label for="spec">Specialist Category</label>
              <select name="spec" required onchange="android()">
                <option value="">- Select Speciality -</option>
                {% for speciality in data.specialities.iterator %}
                <option value={{speciality.slug}}>{{speciality.human_name}}</option>
                {% endfor %}
              </select>
            </li>
            <li>
              <label for="name">Name</label>
              <input type="search" name="name" value="" placeholder="Doctor Name">
            </li>
            <li class="oneLine">
              <label for="day">Doctor avalability on particular Day.</label>
              <select name="day">
                <option value="">- Day -</option>
                <option value="Mon">Monday</option>
                <option value="Tue">Tuesday</option>
                <option value="Wed">Wednesday</option>
                <option value="Thu">Thursday</option>
                <option value="Fri">Friday</option>
                <option value="Sat">Saturday</option>
                <option value="Sun">Sunday</option>
              </select>
            </li>
            <li class="float-right textCentre">
              <label for="wait">Checkup Allowed on Waiting:</label>
              <select class="waiting" name="wait" data-role="slider">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </li>
            <li>
              <label for="slider-2">Search a Specialist in Kilometer radius.</label>
              <input type="range" name="dist" oninput="geo()" onchange="geo()" value="0" min="0" max="30" data-highlight="true">
              <input type="hidden" name="lon" id= "lon">
              <input type="hidden" name="lat" id= "lat">
            </li>
            <li><button type="submit" class="ui-btn ui-shadow ui-corner-all">Search</button></li>
            <li class="advance-search"><a class="anchor-link-left" href="/"><< basic search</a></li>
          </form>
        </ul>
      </div>
    </div>
    <div class="foot" data-role="footer">
      <h4>
        <a href="https://www.facebook.com/doctorsinfo.pk" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
        <a href="mailto:doctorsinfo.pk@gmail.com"><i class="fa fa-envelope fa-1x"></i></a>
        <a href="http://twitter.com/doctorsinfo_pk" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
        <a href="https://plus.google.com/+DoctorsinfoPk" target="_blank"><i class="fa fa-google-plus fa-1x"></i></a>
      </h4>
    </div>
  </div>
  <script type="text/javascript">
    function android(){
      if( /Android/i.test(navigator.userAgent) ) {
        alert("* In order to search clinics nearby your current location.\n\n* Kindly turn on 'Location Services' from your android settings.");
      }
    }
    function showPosition(position) {
      if (position.coords.latitude != null && position.coords.longitude != null){
        $('#lon').val(position.coords.latitude);
        $('#lat').val(position.coords.longitude);
      }
    }
    function geo(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      }
      else {
        alert("Sorry We are unable to detect your geo location.");
      }
    }
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-57178431-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</div>
</body>
</html>