  {% extends "registration/base.html" %}
  {% block title %}Advance Search | Doctors info. Pakistan.{% endblock %}
  {% block loggedInUser %}
  {% if data.user.is_authenticated %}
  <div id="head">
    <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
  </div>
  {% endif %}
  {% endblock %}
  {% block content %}
  <div id="search" class="advsearch">
  <h1>Search Specialist Doctors in your area.</h1>
    <ul>
      <form action="{% url 'practitoners' %}" class="searchForm">
        <li><label for="city">City</label>
          <select name="city" required>
            <option value="">- Select City -</option>
            {% for city in data.cities.iterator %}
            <option value="{{city.slug}}">{{city.name}}</option>
            {% endfor %}
          </select>
        </li>
        <li>
          <label for="spec">Specialist Category</label>
          <select name="spec" required onchange="android()">
            <option value="">- Select Speciality -</option>
            {% for speciality in data.specialities.iterator %}
            <option value={{speciality.slug}}>{{speciality.human_name}}</option>
            {% endfor %}
          </select>
        </li>
        <li>
          <label for="name">Name</label>
          <input type="search" name="name" value="" placeholder="Doctor Name">
        </li>
        <li class="oneLine">
          <label for="day">Doctor avalability on particular Day.</label>
          <select name="day">
            <option value="">- Day -</option>
            <option value="Mon">Monday</option>
            <option value="Tue">Tuesday</option>
            <option value="Wed">Wednesday</option>
            <option value="Thu">Thursday</option>
            <option value="Fri">Friday</option>
            <option value="Sat">Saturday</option>
            <option value="Sun">Sunday</option>
          </select>
        </li>
        <li class="float-right textCentre">
          <label for="wait">Checkup Allowed on Waiting:</label>
          <select class="waiting" name="wait" data-role="slider">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </li>
        <li>
          <label for="slider-2">Search a Specialist in Kilometer radius.</label>
          <input type="range" name="dist" oninput="geo()" onchange="geo()" value="0" min="0" max="30" data-highlight="true">
          <input type="hidden" name="lon" id= "lon">
          <input type="hidden" name="lat" id= "lat">
        </li>
        <li><button type="submit" class="ui-btn ui-shadow ui-corner-all">Search</button></li>
        <li><a class="advance" href="/"><< basic search</a></li>
      </form>
    </ul>
  </div>
</div>
</div>
{% endblock %}
{% block customScript %}
<script type="text/javascript">
  function android(){
    if( /Android/i.test(navigator.userAgent)) {
      alert("* In order to search clinics nearby your current location.\n\n* Kindly turn on 'Location Services' from your android settings.");
    }
  }
  function showPosition(position) {
    if (position.coords.latitude != '' && position.coords.longitude != ''){
      $('#lon').val(position.coords.latitude);
      $('#lat').val(position.coords.longitude);
    }
  }
  function geo(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    }
    else {
      alert("Sorry We are unable to detect your geo location.");
    }
  }
</script>
{% endblock %}