<!DOCTYPE html>
<html>
<head>
  {% load static from staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "style/style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
      <div data-role="page" id="advance" data-theme="a" data-title="doctorsinfo.pk | advance search">
        <div data-role="header">
          <h1><a href="/" class="anchor-link" ><i class="fa fa-stethoscope fa-1x marg-r"></i>doctorsinfo.pk</a></h1>
          <div id="head">
            {% if data.user.is_authenticated %}
            <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
        {% else %}
        <a href="#popupMenu" data-rel="popup" data-transition="slideup" class="anchor-link">
        <img src="{% static "icons/person.jpg" %}" width="32" height="32" ></a>
        <div data-role="popup" id="popupMenu" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;">
          <li><a href="/login/">Login</a></li>
          <li><a href="/register/">Sign Up</a></li>
          <li><a href="/login/">Forgot Password</a></li>
        </ul>
        </div> 
        {% endif %}
          </div>
        </div>

        <div role="main" class="ui-content container">
        <div id="search" class="advsearch">
      <ul>
      <li><h2>Find Specialist Doctors in your area.</h2></li>
      <form action="{% url 'practitoners' %}" class="searchForm">
      <li><label for="city">City</label>
        <select name="city" required>
          <option value="">- Select City -</option>
          {% for city in data.cities.iterator %}
          <option value="{{city.slug}}">{{city.name}}</option>
          {% endfor %}
        </select>
        </li>
        <li>
        <label for="name">Name</label>
        <input type="search" name="name" value="" placeholder="Doctor Name">
        </li>
        <li>
        <label for="spec">Specialist Category</label>
        <select name="spec">
          <option value="">- Select Speciality -</option>
          {% for speciality in data.specialities.iterator %}
          <option value={{speciality.slug}}>{{speciality.name}}</option>
          {% endfor %}
        </select>
        <!--label for="exp">Experience in years.</label>
        <input type="range" name="exp" value="0" min="0" max="30" data-highlight="true" /-->
        <li>
          <label for="day">Doctor avalability on particular Day.</label>
            <select name="day">
              <option value="">- Select Day -</option>
              <option value="Mon">Monday</option>
              <option value="Tue">Tuesday</option>
              <option value="Wed">Wednesday</option>
              <option value="Thu">Thursday</option>
              <option value="Fri">Friday</option>
              <option value="Sat">Saturday</option>
              <option value="Sun">Sunday</option>
            </select>
        </li>
        </li>
        <li>
        <label for="slider-2">Search a Specialist in KM radius.</label>
        <input type="range" name="dist" oninput="geo()" onchange="geo()" value="0" min="0" max="30" data-highlight="true">
        <input type="hidden" name="lon" id= "lon">
        <input type="hidden" name="lat" id= "lat">
        </li>
        <li><button type="submit" class="ui-btn ui-shadow ui-corner-all">Search</button></li>
        <li class="advance-search"><a class="anchor-link-left" href="/"><< basic search</a></li>
        </form>
        </ul>
        </div>
      </div>
        <div class="foot" data-role="footer">
          <h4>
            <a href="https://www.facebook.com/doctorsinfo.pk" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
            <a href="mailto:doctorsinfo.pk@gmail.com"><i class="fa fa-envelope fa-1x"></i></a>
            <a href="http://twitter.com/doctorsinfo_pk" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
          </h4>
        </div>
      </div>
    </div>
<script type="text/javascript">
function geo(){
  //if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {}
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  }
  else {
    alert("Sorry We are unable to detect your geo location.");
    }
}
function showPosition(position) {
  $('#lon').val(position.coords.latitude);
  $('#lat').val(position.coords.longitude);
}
</script>
</body>
</html>