{% extends "base.html" %}
{% load staticfiles %}
{% block pageSpecificCSS %}<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="breadcrumb-wrap breadcrumb-light" style="background-color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Claim Your Profile</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>Claim Profile</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumb light-->
<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 sky-form-login-register">
            <div class="margin40">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ form.non_field_errors.as_ul }}   
                    </div>
                {% endif %}
            	<form class="sky-form" role="form" action="" method="POST" data-toggle="validator">{% csrf_token %}
                    <h3 class="text-center"><a href="{% url 'practitioner' slug=practitioner.slug %}">{{practitioner}}</a></h3>
                    <h3 class="text-center">Please Provide the following information.</h3>

                    <fieldset>					
                        <section>
                            <div class="row">
                                <label class="label col col-4">{{form.email.label}}</label>
                                <div class="col col-8">
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        {{form.email}}
                                    </label>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <label class="label col col-4">{{form.pmdc_no.label}}</label>
                                <div class="col col-8">
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        {{form.pmdc_no}}
                                    </label>
                                </div>
                            </div>
                        </section>
                    </fieldset>
                    <footer class="text-right">
                        <button type="submit" class="btn btn-theme-bg btn-lg">Claim</button>
                    </footer>
                </form>			
            </div><!--login form wrap end-->
        </div>
    </div>
</div>
{% endblock %}