{% extends "registration/base.html" %} {% block seoTags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="specialist doctors clinic information, practicing across pakistan" />
<meta content="best doctors, medics, doctors directory, health, pakistan, doctors in pakistan, lahore,specialist doctors in lahore, pediatrics, child specialist, gyne, gynecologist, psychiatrist, neurologist" name="keywords" />
<meta name="google-site-verification" content="4eQap4DygfxsfuocwBZAZxmS3eXhMVhwlo2KQ47S7-Q" />
<meta property="og:description" content="specialist doctors clinic information, practicing across pakistan" />
<meta property="fb:app_id" content="753672898036503" />
<meta property="og:image" content="http://www.doctorsinfo.pk/static/icons/stethoscope.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.doctorsinfo.pk/" />
<meta property="og:site_name" content="doctorsinfo.pk" />
<link href="http://www.doctorsinfo.pk/" rel="canonical" /> {% endblock %} {% block title %}Doctorsinfo.pk | Find a Doctor, Review Doctor, Doctor Ratings{% endblock %} {% block homeClass %}active{% endblock %} {% block loggedInUser %} {% if data.user.is_authenticated %}
<div id="head">
    <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
</div>
{% endif %} {% endblock %} {% block content %} {% load staticfiles %}
<!-- ///  begin promo  /// -->
<div class="promo" id="home" style="background-image:url({% static 'assets/img/bg/main-promo.jpg' %});">
    <!-- ///  semitransparent layer  /// -->
    <div class="color-correction"></div>
    <!-- ///  begin entry  /// -->
    <div class="container">
        <div class="row">
            <!-- ///  begin text section  /// -->
            <div class="col-md-6 wow fadeInDown" data-wow-duration="2s">
                <div class="promo-text">
                    <h1><i class="fa fa-signal success-color"></i> Doctors<b>info</b></h1>
                    <hr>
                    <p class="lead">Finding the right doctor is something that takes effort and time. But now we are here to ensure that you find the right doctor for yourself without any hassle.</p>
                    <p><a class="btn btn-large btn-primary" type="button" href="#">Get Started</a>
                        <p>Health.Care.Technology</p>
                </div>
            </div>
            <!-- ///  end text section  /// -->
            <!-- ///  begin search form  /// -->
            <div class="col-md-4 col-md-offset-2 wow fadeInUp" data-wow-duration="2s">
                <div class="register">
                    <form method="get" action="{% url 'haystack_search' %}">
                        <div class="input-group">
                            <input type="search" id="regPhone" name="q" data-validation="required" class="form-control input-lg" placeholder="Doctor, Hospital, Specialty" style="font-size:15px;">
                            <span class="input-group-btn">
             <button type="submit" class="btn btn-empty btn-lg">Search</button>
      </span>
                            <!--<button style="color: #ed1c24;" type="submit" class="ui-btn ui-shadow ui-corner-all">Search</button>-->
                        </div>
                    </form>
                </div>
                <div class="register">
                    <form role="form" data-toggle="validator" action="{% url 'practitoners' %}" id="searchForm">
                        <div class="form-group">
                            <select id="cityName" data-validation="required" class="form-control btn-group-lg selectpicker" name="city" data-style="btn-empty">
                                <option value="" disabled selected>Select City</option>
                                {% for city in data.cities.iterator %}
                                <option value="{{city.slug}}">{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="specialityName" data-validation="required" class="form-control btn-group-lg selectpicker" name="spec" data-style="btn-empty">
                                <option value="" disabled selected>Select Speciality</option>
                                {% for speciality in data.specialities.iterator %}
                                <option value="{{speciality.slug}}">{{speciality.human_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-empty btn-block btn-lg">Search for Doctor</button>
                    </form>
                </div>
            </div>
            <!-- ///  end search form  /// -->
        </div>
    </div>
    <!-- ///  end entry  /// -->
</div>
<!-- ///  end promo  /// -->

<!-- ///  begin features  /// -->
<div class="theses" id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 wow bounceIn" data-wow-delay=".4s">
                <div class="icon-wrap">
                    <i class="fa fa-stethoscope fa-3x"></i>
                </div>
                <h3>Doctor For You</h3>
                <hr>
                <p>With the help of Doctorsinfo you can find the right doctor for yourself, a doctor experienced in your treatment.</p>
                <p>
                    <a href="#">
                        <button class="btn btn-large btn-info">Find Your Doctor</button>
                    </a>
                </p>
            </div>
            <div class="col-md-6 wow bounceIn" data-wow-delay=".6s">
                <div class="icon-wrap">
                    <i class="fa fa-medkit fa-3x"></i>
                </div>
                <h3>Hospital For You</h3>
                <hr>
                <p>Doctorsinfo can help you find the right hospital. Hospital that would give you the right treatment, the best treatment.</p>
                <p>
                    <a href="#">
                        <button class="btn btn-large btn-info">Find Your Hospital</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ///  end features  /// -->
{% endblock %}
