{% extends "registration/base.html" %}
{% block seoTags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="specialist doctors clinic information, practicing across pakistan" />
<meta content="best doctors, medics, doctors directory, health, pakistan, doctors in pakistan, lahore,specialist doctors in lahore, pediatrics, child specialist, gyne, gynecologist, psychiatrist, neurologist" name="keywords" />
<meta name="google-site-verification" content="4eQap4DygfxsfuocwBZAZxmS3eXhMVhwlo2KQ47S7-Q" />
<meta property="og:description" content="specialist doctors clinic information, practicing across pakistan"/>
<meta property="fb:app_id" content="753672898036503"/>
<meta property="og:image" content="http://www.doctorsinfo.pk/static/icons/stethoscope.png"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.doctorsinfo.pk/"/>
<meta property="og:site_name" content="doctorsinfo.pk"/>
<link href="http://www.doctorsinfo.pk/" rel="canonical" />
{% endblock %}
{% block title %}Specialist doctors clinic information across Pakistan.{% endblock %}
{% block loggedInUser %}
{% if data.user.is_authenticated %}
<div id="head">
  <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
</div>
{% endif %}
{% endblock %}
{% block containerClass %}container{% endblock %}
{% block content %}
<div class="searchLabel">
  <h1>Search Specialist Doctors in your area.</h1>
  <div id="search">
    <ul>
      <form action="{% url 'practitoners' %}" class="searchForm">
        <li><label for="city">City</label>
          <select name="city" required>
            <option value="">- Select City -</option>
            {% for city in data.cities.iterator %}
            <option value="{{city.slug}}">{{city.name}}</option>
            {% endfor %}
          </select>
        </li>
        <li>
          <label for="spec">Specialist Category</label>
          <select name="spec" required onchange="android()">
            <option value="">- Select Speciality -</option>
            {% for speciality in data.specialities.iterator %}
            <option value={{speciality.slug}}>{{speciality.human_name}}</option>
            {% endfor %}
          </select>
        </li>
        <li><button type="submit" class="ui-btn ui-shadow ui-corner-all">Search</button></li>
        <li><a class="advance" href="{% url 'adv' %}">advance search >></a></li>
      </form>
    </ul>
  </div>
</div>
<div class="recentSearches">
  <form action="{% url 'practitioner_name' %}">
    <input required type="search" name="name" placeholder="Doctor name" />
    <button style="color: #ed1c24;" type="submit" class="ui-btn ui-shadow ui-corner-all">Search</button>
    <!--input type="submit" class="ui-btn ui-btn-inline" style="color: #ed1c24;" value="Search" /-->
  </form>
  <h2>Recent Searches</h2>
  <div class="searchResult">
    <ul>
      {% for recent in data.recentSearches.iterator %}
      <li><strong><a href="{% url 'recentSearch' recent.speciality.slug recent.city.slug %}">
        {{recent.speciality.SEO_name}} in {{recent.city.name}}</a></strong></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}