{% extends "base.html" %}
{% block title %}doctorsinfo.pk - find a specialist doctor, review doctors, doctor ratings{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="divide40"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-post custom-blog">
                <div class="row">
                    <div class="col-md-3 margin20 text-center">
                    	<div class="person-v2">
	                        <img src="{% static 'assets/img/doctor_placeholder.jpg' %}" class="img-responsive" alt="profile-pic">
                        </div> 
                    </div>
                    <div class="col-md-9 margin20">
                        <ul class="list-inline post-detail" style="margin-top:0;">
                            <li><i class="fa fa-cog"></i> <a href="#">Save</a></li>
                            <li><i class="fa fa-save"></i> <a href="#">Share</a></li>
                        </ul>
                        <h2>{{data.practitioner.name}} <i class="fa fa-check-circle text-blue"></i></h2>
                        <ul class="list-inline">
                        	<li><span class="label label-default">{{data.practitioner.get_gender_display}}</span></li>
                        	<li><span class="label label-default">{{data.practitioner.experience}} years experience</span></li>
                        </ul>
                        {% if data.practitioner.achievements %}
                        <p>
                            {{data.practitioner.achievements}}
                        </p>
                        {% endif %}
                        {% if data.practitioner.degrees.all %}
                        <ul class="list-inline">
                        	{% for deg in data.practitioner.degrees.all %}
                        	<li><span class="label label-primary" data-toggle="tooltip" data-placement="top" data-original-title="{{deg.description}}">{{deg}}</span></li>
                        	{% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="intro-text-1 prac-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="list-inline">
					<li><h4>Do you recommend this doctor?</h4></li>
					<li><button class="btn btn-default">Yes</button></li>
					<li><button class="btn btn-default">No</button></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="divide40"></div>
<div class="container">
	<div class="row">
		{% for practice in data.practice %}
		<div class="col-md-4 margintop40">
			<div class="price-wrap">
				<div class="price-title price-title-custom">
					<img src="{% static 'assets/img/service-1.jpg' %}" class="img-responsive" alt="">
				</div>
				<div class="price-price prac-loc-name">{{practice.practice_location.name}}</div>
				<div class="price-features">
					<ul class="list-unstyled">
						<li><i class="fa fa-home text-blue"></i> {{practice.practice_location.clinic_address}} ,{{practice.practice_location.area}}</li>
						<li><i class="fa fa-phone text-blue"></i> {{practice.practice_location.contact_number}}</li>
						<li><i class="fa fa-money text-blue"></i> {{practice.fee}}</li>
						<li><i class="fa fa-briefcase text-blue"></i> {% for spec in data.practitioner.specialities.all %}{{spec.human_name}}{% endfor %}</li>
					</ul>
				</div>
				<div class="price-action">
					<ul class="list-inline last-loc-line">
						<li><i class="fa fa-clock-o text-blue"></i></li>
						<li><button class="btn btn-primary">Timings</button></li>
						<li><button class="btn btn-success" disabled>Open Now</button></li>
						<li><i class="fa fa-map-marker text-navy"></i></li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="col-md-4 margintop40">
			<div class="price-wrap">
				<div class="price-price prac-loc-name">Patients Feedback</div>
				<div class="price-features">
					<ul class="list-unstyled">
						<li>
							<ul class="list-inline custom-list-feedback">
								<li><i class="fa fa-star text-yellow"></i></li>
								<li><i class="fa fa-star text-yellow"></i></li>
								<li><i class="fa fa-star text-yellow"></i></li>
								<li><i class="fa fa-star text-yellow"></i></li>
								<li><i class="fa fa-star-half-empty text-yellow"></i></li>
								<li>4.5 (5 reviews)</li>
							</ul>
						</li>
						<li><span class="h3">Patients Satisfaction</span></li>
						<li style="border-top:0;">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">Read what other patients have to say:</h4>
								</div>
								<div class="panel-body comments-panel-body">
									<div class="review-box margin10">
										<img src="{% static 'assets/img/team-1.jpg' %}" alt="" class="img-responsive">
										<div class="review-content text-left">
											<ul class="list-inline rating-list custom-list-feedback text-left">
												<li class="admin-detail">
													<span><strong>User</strong></span>
												</li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star-half-empty yellow"></i></li>
											</ul>
											<p>Great service, nice experience.</p>
											<ul class="list-inline text-right custom-list-feedback">
												<li><i class="fa fa-thumbs-o-up text-blue"></i> 5 </li>
												<li><i class="fa fa-thumbs-o-down text-red"></i> 2</li>
											</ul>
										</div>
									</div>
									<div class="review-box margin10">
										<img src="{% static 'assets/img/team-1.jpg' %}" alt="" class="img-responsive">
										<div class="review-content text-left">
											<ul class="list-inline rating-list custom-list-feedback text-left">
												<li class="admin-detail">
													<span><strong>User</strong></span>
												</li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star-half-empty yellow"></i></li>
											</ul>
											<p>Great service, nice experience.</p>
											<ul class="list-inline text-right custom-list-feedback">
												<li><i class="fa fa-thumbs-o-up text-blue"></i> 5 </li>
												<li><i class="fa fa-thumbs-o-down text-red"></i> 2</li>
											</ul>
										</div>
									</div>
									<div class="review-box margin10">
										<img src="{% static 'assets/img/team-1.jpg' %}" alt="" class="img-responsive">
										<div class="review-content text-left">
											<ul class="list-inline rating-list custom-list-feedback text-left">
												<li class="admin-detail">
													<span><strong>User</strong></span>
												</li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star-half-empty yellow"></i></li>
											</ul>
											<p>Great service, nice experience.</p>
											<ul class="list-inline text-right custom-list-feedback">
												<li><i class="fa fa-thumbs-o-up text-blue"></i> 5 </li>
												<li><i class="fa fa-thumbs-o-down text-red"></i> 2</li>
											</ul>
										</div>
									</div>
									<div class="review-box margin10">
										<img src="{% static 'assets/img/team-1.jpg' %}" alt="" class="img-responsive">
										<div class="review-content text-left">
											<ul class="list-inline rating-list custom-list-feedback text-left">
												<li class="admin-detail">
													<span><strong>User</strong></span>
												</li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star-half-empty yellow"></i></li>
											</ul>
											<p>Great service, nice experience.</p>
											<ul class="list-inline text-right custom-list-feedback">
												<li><i class="fa fa-thumbs-o-up text-blue"></i> 5 </li>
												<li><i class="fa fa-thumbs-o-down text-red"></i> 2</li>
											</ul>
										</div>
									</div>
									<div class="review-box margin10">
										<img src="{% static 'assets/img/team-1.jpg' %}" alt="" class="img-responsive">
										<div class="review-content text-left">
											<ul class="list-inline rating-list custom-list-feedback text-left">
												<li class="admin-detail">
													<span><strong>User</strong></span>
												</li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star-half-empty yellow"></i></li>
											</ul>
											<p>Great service, nice experience.</p>
											<ul class="list-inline text-right custom-list-feedback">
												<li><i class="fa fa-thumbs-o-up text-blue"></i> 5 </li>
												<li><i class="fa fa-thumbs-o-down text-red"></i> 2</li>
											</ul>
										</div>
									</div>
									<div class="review-box margin10">
										<img src="{% static 'assets/img/team-1.jpg' %}" alt="" class="img-responsive">
										<div class="review-content text-left">
											<ul class="list-inline rating-list custom-list-feedback text-left">
												<li class="admin-detail">
													<span><strong>User</strong></span>
												</li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star yellow"></i></li>
												<li><i class="fa fa-star-half-empty yellow"></i></li>
											</ul>
											<p>Great service, nice experience.</p>
											<ul class="list-inline text-right custom-list-feedback">
												<li><i class="fa fa-thumbs-o-up text-blue"></i> 5 </li>
												<li><i class="fa fa-thumbs-o-down text-red"></i> 2</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!--<li class="last-loc-line">
							
						</li>-->
					</ul>
				</div>
				
			</div>
		</div>
		<div class="col-md-4 margintop40">
			<div class="price-wrap">
				<div class="price-price prac-loc-name">Subscription</div>
				<div class="price-features">
					<ul class="list-unstyled custom-list-feedback">
						<li>Would you like to recieve updates about {{data.practitioner.name}}? (i.e Change in practice timings, Special offers etc.)</li>
						<li></li>
						<li class="margin20">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
								<input class="form-control" type="email" name="email" placeholder="Email Address">
							</div>
						</li>
						<li><div class="border-rits"><span>or</span></div></li>
						<li>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-phone"></i></span>
								<input class="form-control" type="text" name="phone" placeholder="Contact Number">
							</div>
						</li>
						<li><button class="btn btn-primary full-width">Subscribe</button></li>
						<li>
							<span><i class="fa fa-shield text-green"></i> Rest assure that we won't be sharing your personal information with anyone without your consent and we won't spam you either.</span>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<hr>
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#services_tab" data-toggle="tab">Services</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="services_tab">
				<div class="tab-desc">
					<h4>Conditions</h4>
					<ul>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
					</ul>
					<div class="clear"></div>
					<hr>
					<h4>Procedures</h4>
					<ul>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
						<li class="col-md-4"><i class="fa fa-angle-right"></i> Dissection of heart</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="divide40"></div>
{% endblock %}