{% extends "base.html" %}
{% block title %}doctorsinfo.pk - find a specialist doctor, review doctors, doctor ratings{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="divide40"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-post custom-blog">
                <div class="row">
                    <div class="col-md-3 margin20 text-center">
                    	<div class="person-v2">
	                        <img src="{% static 'assets/img/team-1.jpg' %}" class="img-responsive" alt="profile-pic">
                        </div> 
                    </div>
                    <div class="col-md-9 margin20">
                        <ul class="list-inline post-detail" style="margin-top:0;">
                            <li><i class="fa fa-cog"></i> <a href="#">Save</a></li>
                            <li><i class="fa fa-save"></i> <a href="#">Share</a></li>
                        </ul>
                        <h2>{{data.practitioner.name}} <i class="fa fa-check-circle text-blue"></i></h2>
                        <ul class="list-inline">
                        	<li><span class="label label-default">{{data.practitioner.get_gender_display}}</span></li>
                        	<li><span class="label label-default">{{data.practitioner.experience}} years experience</span></li>
                        </ul>
                        {% if data.practitioner.achievements %}
                        <p>
                            {{data.practitioner.achievements}}
                        </p>
                        {% endif %}
                        {% if data.practitioner.degrees.all %}
                        <ul class="list-inline">
                        	{% for deg in data.practitioner.degrees.all %}
                        	<li><span class="label label-primary">{{deg}}</span></li>
                        	{% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="intro-text-1 prac-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="list-inline">
					<li><h4>Do you recommend this doctor?</h4></li>
					<li><button class="btn btn-default">Yes</button></li>
					<li><button class="btn btn-default">No</button></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="divide40"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="price-wrap">
				<div class="price-title price-title-custom">
					<img src="{% static 'assets/img/service-1.jpg' %}" class="img-responsive" alt="">
				</div>
				<div class="price-price prac-loc-name">Dr. Muhammad Nazir Clinic</div>
				<div class="price-features">
					<ul class="list-unstyled">
						<li><i class="fa fa-home text-blue"></i> 37-D, Park Plaze, Model Town, Lahore</li>
						<li><i class="fa fa-phone text-blue"></i> 04235714141, 04125887458</li>
						<li><i class="fa fa-money text-blue"></i> PKR 1500</li>
						<li><i class="fa fa-briefcase text-blue"></i> Child Specialist, Child Operation, more</li>
					</ul>
				</div>
				<div class="price-action">
					<ul class="list-inline last-loc-line">
						<li><i class="fa fa-clock-o text-blue"></i></li>
						<li><button class="btn btn-primary">Timings</button></li>
						<li><button class="btn btn-success" disabled>Open Now</button></li>
						<li><i class="fa fa-map-marker text-navy"></i></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="price-wrap">
				<div class="price-title price-title-custom">
					<img src="{% static 'assets/img/service-1.jpg' %}" class="img-responsive" alt="">
				</div>
				<div class="price-price prac-loc-name">Dr. Muhammad Nazir Clinic</div>
				<div class="price-features">
					<ul class="list-unstyled">
						<li><i class="fa fa-home text-blue"></i> 37-D, Park Plaze, Model Town, Lahore</li>
						<li><i class="fa fa-phone text-blue"></i> 04235714141, 04125887458</li>
						<li><i class="fa fa-money text-blue"></i> PKR 1500</li>
						<li><i class="fa fa-briefcase text-blue"></i> Child Specialist, Child Operation, more</li>
					</ul>
				</div>
				<div class="price-action">
					<ul class="list-inline last-loc-line">
						<li><i class="fa fa-clock-o text-blue"></i></li>
						<li><button class="btn btn-primary">Timings</button></li>
						<li><button class="btn btn-success" disabled>Open Now</button></li>
						<li><i class="fa fa-map-marker text-navy"></i></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="price-wrap">
				<div class="price-price prac-loc-name">Patients Feedback</div>
				<div class="price-features">
					<ul class="list-unstyled">
						<li><i class="fa fa-home text-blue"></i> 37-D, Park Plaze, Model Town, Lahore</li>
						<li><i class="fa fa-phone text-blue"></i> 04235714141, 04125887458</li>
						<li><i class="fa fa-money text-blue"></i> PKR 1500</li>
						<li><i class="fa fa-briefcase text-blue"></i> Child Specialist, Child Operation, more</li>
						<!--<li class="last-loc-line">
							
						</li>-->
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="divide40"></div>
{% endblock %}