<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "style/style.css" %}"rel="stylesheet" type="text/css" />
</head>

<body>
  <div data-role="page" data-title="{{data.practitioner.name}} | doctorsinfo.pk">
    <div data-role="header">
      <h1><a href="/" class="anchor-link" ><i class="fa fa-stethoscope fa-1x marg-r"></i>doctorsinfo.pk</a></h1>
      <div id="head">
        {% if data.user.is_authenticated %}
        <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
        {% else %}
        <a href="/login/" style: class="anchor-link-right" >Login</a>
        {% endif %}
      </div>
    </div>
    <div role="main" class="ui-content">
    <div id="border-left"></div>
    <div id="border-right"></div>

      <!-- Practitioner Details -->
      <div id="practitionerDetails">
        {% if not data.favourite %}
        <img class="anchor-link-right favourite" src="{% static "icons/favt_.png" %}" height="32" width="32"/>
        {% else %}
        <img class="anchor-link-right" title="Already favourited" src="{% static "icons/favt0.png" %}" height="32" width="32" /> {% endif %}
        <h1><i class="fa fa-user-md fa-1x marg-r"></i>{{data.practitioner.name}}</h1>
        <span>{{data.practitioner.credentials}}</span>
        <span>Specialized in: {% for speciality in data.practitioner.specialities.all.iterator %}{{speciality.name}}</span>
        {% endfor %}
        <span>Experience: <strong>{{data.practitioner.experience}} years.</strong></span>
        <span><strong>Achievements: </strong>{{data.practitioner.achievements}}</span>
      </div>

      <!-- Practise-Location Details -->
      {% if data.practise.exists %}
      {% for pract in data.practise.iterator %}
      <div class="grid-name">
        {% if pract.practise_type == 'P' %}
        <h2 style="background-color: #4b555d;">{{pract.practitioner.name}}</h2>
        {% else %}
        <h2 style="background-color: #4b555d;">{{pract.practise_location.name}}</h2>
        {% endif %}
        <div class="clinic">
          <!-- Lad Clinic Timings -->
          <!-- Lad Clinic Timings -->
          <ul>
          <div class="clock" id="/practise/{{pract.practise_location.slug}}/{{pract.practitioner.slug}}/">
          {% include "practitioner/clinictimings.html" %}
          <li><img src="{% static "icons/clock.png" %} "height="22" width="24" title="Clinic Timings." />
          <strong class="marg-l"><u>Practise Timing.</u></strong></li>
          </div>
          <!-- Load Clinic Timings -->
          <!-- Lad Clinic Timings -->
            <li><i class="fa fa-money" title="Checkup Fee."></i><span><strong>{{pract.checkup_fee}} rs.</strong></span></li>
            <li><i class="fa fa-phone"></i><span>{{pract.contact_number}}</span></li>
            <li><i class="fa fa-calendar"></i>{% if pract.appointments_only %}<span>Appointment Required: Yes.</span>
              {% else %}<span>First Come First Serve.</span>{% endif %}</li>
            <li><i class="fa fa-location-arrow"></i><span>{{pract.practise_location.clinic_address}}, <strong>{{pract.practise_location.city.name}}.</strong></span></li>
            <li><i class="fa fa-medkit fa-1x" title="Services Offered."></i><span>{{pract.services}}</span></li>
          </ul>
          <div class="modified"><img src="{% static "icons/modified.png" %}"height="18" width="18" title="Last Updated"/><span class="marg-l">{{pract.modified|date:"d-M-Y"}}</span></div>
           {% if pract.practise_location.lat and pract.practise_location.lon %}
            <a href="http://maps.google.com/maps?z=12&t=m&q={{pract.practise_location.lat}},{{pract.practise_location.lon}}" target="_blank" class="anchor-link-right map-marker" ><i style="padding: 0px 0px 10px 0px;" class="fa fa-map-marker fa-3x"></i></a>
            {% else %}
            <a href="#popupMenu" data-rel="popup" data-transition="slideup" class="anchor-link-right map-marker" ><i style="padding: 0px 0px 10px 0px;" class="fa fa-map-marker fa-3x"></i></a>
        <div data-role="popup" id="popupMenu" data-theme="a">
        <p class="locationReply">
        <span class="break">* Please Make your that you are currently present at "{{pract.practise_location.name}}".</span>
        <span class="break">* If You're reporting from a smart phone, Kindly Turn on Location Services from your device Settings.</span>
        <span class="break">* Kidly Allow your device to detect your Geo Location, when prompted by Browser. Thanks</span>
        <button class="reportGeo" id="{{pract.practise_location.name}}" >Report GeoLocation.</button></p>
        </div>
          <span class="sorry-msg">* Sorry, No Geo Location available for that Practise Location, Click on Map Button to Update.</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}{% endif %}

      <!-- Practitioner Reviews Details -->
      <div class="grid-name">
        <h2 style="background-color: #4b555d;">Practise Reviews</h2>
        <div class="reviews">
          {% if data.reviews.exists %} 
          {% for pr in data.reviews.iterator %}
          <!-- user login and reviews are there-->
          {% if data.user.is_authenticated %}
          <p>
            <span class="break"><b>{{pr.patient}}</b>: '{{pr.review_text}}'</span>
            <!-- review upVote-->
            <!-- review upVote-->
            <div class="inline_">
            <i class="fa fa-thumbs-o-up up" id="/review/{{pr.pk}}/"></i>
            <span class="up_votes marg-r">{{pr.up_votes}}</span>-
            <span class="down_votes marg-l">{{pr.down_votes}}</span>
            <i class="fa fa-thumbs-o-down marg-l down" id="/review/{{pr.pk}}/"></i>
            <span class="float-right marg-r"><i class="fa fa-clock-o marg-r" class="Reviewd Date."></i>{{pr.review_date|date:"d-M-Y"}}</span>
            </div>
          </p>
          <!-- review downVote-->
          <!-- review downVote-->

          <!-- No user login and reviews exists-->
          {% else %}
          <p>
            <span class="break"><b>{{pr.patient}}</b>: '{{pr.review_text}}'</span>
            <div class="inline_">
            <span class="up_votes marg-l">agree. {{pr.up_votes}} - </span>
            <span class="down_votes">{{pr.down_votes}}  diagree.</span>
            <span class="float-right marg-r"><i class="fa fa-clock-o marg-r" class="Reviewd Date."></i>{{pr.review_date|date:"d-M-Y"}}</span></div>
          </p>
          <br> {% endif %} {% endfor %} 
          {% if data.user.is_authenticated %}
          <!-- Post new Reviews, user loged, Reviews exists-->
          <form id="reviewBox" action="{% url 'review' %}" method="POST" class="inline_">{% csrf_token %}
              <textarea cols="8" rows="8" name="review_text" required></textarea>
              <input type="hidden" name="slug" value="{{data.practitioner.slug}}">
              <button type="submit" id="post-review-btn" class="ui-btn ui-corner-all ui-btn-a">Post</button>
          </form>          
          {% else %}
          <a href="#popupMenu" data-rel="popup" data-transition="slideup" class="anchor-link-right marg-t" >add review..</a>
          <div data-role="popup" id="popupMenu" data-theme="b">
          <ul data-role="listview" data-inset="true" style="min-width:210px;">
          <li><a href="/login/" >Login</a></li>
          <li><a href="/register/" >Sign Up</a></li>
          <li><a href="/password/reset/">Forgot Password</a></li>
          </ul>
          </div>
          {% endif %}
          <!--if no review-->
          {% elif data.user.is_authenticated%}
          <!-- user login and no review exists-->
          <p><span class="textCentre marg-l break"><strong>No reviews, yet, Write One.</strong></span>
          <form id="reviewBox" action="{% url 'review' %}" method="POST" class="inline_">{% csrf_token %}
              <textarea cols="8" rows="8" name="review_text" required></textarea>
              <input type="hidden" name="slug" value="{{data.practitioner.slug}}">
              <button type="submit" id="post-review-btn" class="ui-btn ui-corner-all ui-btn-a">Post</button>
          </form></p>
          {% else %}
	       <!-- Post new Review / no user login-->
	       <span>No reviews, yet.<br>
          <a href="#popupMenu" data-rel="popup" data-transition="slideup" class="anchor-link-right marg-t" >add review..</a>
          <div data-role="popup" id="popupMenu" data-theme="b">
          <ul data-role="listview" data-inset="true" style="min-width:210px;">
          <li><a href="/login/" >Login</a></li>
          <li><a href="/register/" >Sign Up</a></li>
          <li><a href="/password/reset/">Forgot Password</a></li>
          </ul>
          </div>
         {% endif %}
        </div>
      </div>
    </div>
    <!-- Footer Details -->
    <div class="foot" data-role="footer">
      <h4>
      <a href="https://www.facebook.com/doctorsinfo.pk" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
      <a href="mailto:doctorsinfo.pk@gmail.com"><i class="fa fa-envelope fa-1x"></i></a>
      <a href="http://twitter.com/doctorsinfo_pk" target="_blank"><i class="fa fa-twitter fa-1x"></i></a></h4>
    </div>

  </div>
  <script type="text/javascript">
    /* Location Detection */
    var practise = '';
    var x = document.getElementsByClassName("reportGeo");
    $(function() {
     $('.reportGeo').click(function(ev) {
      practise = $(this).attr('id');
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      }
      else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    });
  });
    function showPosition(position) { var lat = position.coords.latitude; var lon = position.coords.longitude;
      $.ajax({
        type: "POST", url: '/update/', context: this, data: { type_ : "GeoLocation", 
        name: '{{data.practitioner.name}}', practise: practise, lat: lat,
        lon: lon, csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data) {
          if(data.Status){
            $('.locationReply').hide();
            alert("You have successfully reported the GeoLocation for '"+practise+"' Thanks for your Co-operation. :)");
          }
        }
      });
    }
    var count = 0;
    /*  Load timings */
    $(function() {
     $('.clock').click(function(ev) {
      console.log('click')
      if (count < 1) {
        $.ajax({
          type: "GET",
          url: $(this).attr('id'),
          context: this,
          success: function(data) {
            $(this).prepend(data);
            count++;
          },
          dataType: 'html'
        }); }else {
          ev.preventDefault();
        }
      });
   });
    /* favt	*/
    $(function() {
      var favtImg = $('.favourite');
      favtImg.click(function(ev) {
        var doc = "{{data.favourite}}";
        if (doc == "False")
          $.ajax({
            type: "POST",
            url: '/patient/',
            context: this,
            data: { type_: "favourite", favt_slug: '{{data.practitioner.slug}}',csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
              if (data.status_) {
              }
            },
            dataType: 'json',
          });
      });
    });
    /* up vote */
    $(function() {
      var up = $('.up');
      up.click(function(ev) {
        if (count < 2) {
          $.ajax({
            type: "POST",
            url: $(this).attr('id'),
            context: this,
            data: {
              up: "up",
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
              var up = $(this).next('.up_votes').text(data.up);
              down = up.next('.down_votes');
              up.text(data.up);
              down.text(data.down);
              count++;
            },
            dataType: 'json',
          });
        } else {
          ev.preventDefault();
        }
      });
    });
    /* down vote */
    $(function() {
      var down = $('.down');
      down.click(function(ev) {
        if (count < 2) {
          $.ajax({
            type: "POST",
            url: $(this).attr('id'),
            context: this,
            data: {
              down: "down",
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
              var down = $(this).prev('.down_votes');
              var up = down.prev('.up_votes');
              down.text(data.down);
              up.text(data.up);
              count++;
            },
            dataType: 'json'
          });
        } else {
          ev.preventDefault();
        }
      });
    });
  </script>
</body>

</html>