<!DOCTYPE html>

<html>
<head>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "icons/stethoscope.ico" %}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "style/style.css" %}"rel="stylesheet" type="text/css" />
</head>
  
  <body>
    <div data-role="page" data-title="registration successful | doctorsinfo.pk">
    <div data-role="header">
    <h1><a href="/" class="anchor-link" ><i class="fa fa-stethoscope fa-1x marg-r"></i>doctorsinfo.pk</a></h1>
      <div id="head">
      {% if data.user.is_authenticated %}
      <a href="{% url 'patient' %}" class="anchor-link"><i class="fa fa-user fa-1x marg-r"></i>{{data.user.username}}</a>
      {% else %}
        <a href="/login/" style: class="anchor-link-right" >Login</a>
      {% endif %}
      </div>
  </div>
  <!-- Content -->
  <div role="main" class="ui-content">
  <p style="font-family: Ubuntu; margin: auto"><strong>Your request has been recieved Sucessfully, Once your provided info. is reviewed and updated on our site, we will inform you at your provided email:<br> {{email}}<br><br>Thanks.</strong>
  </div>
      <div class="foot" data-role="footer">
      <h4>
      <a href="https://www.facebook.com/doctorsinfo.pk" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
      <a href="mailto:doctorsinfo.pk@gmail.com"><i class="fa fa-envelope fa-1x"></i></a>
      <a href="http://twitter.com/doctorsinfo_pk" target="_blank"><i class="fa fa-twitter fa-1x"></i></a></h4>
    </div>
  </div>
  </body>
</html>