<script type="text/javascript">
	$(document).ready(function(){
		$(".tooltip-class").qtip({
			content: {
				title: "Profile Completeness",
				{% if data.completeness == 100 %}
				text: "Hurray!!! Your profile completeness is at 100%"
				{% else %}
				text: "Your Profile Completeness is at {{data.completeness}}. Click to complete your profile now."
				{% endif %}
			},
			position: {
		        my: 'top center',  // Position my top left...
		        at: 'bottom center'
		    }
		});
	});
</script>