<!--navigation -->
{% load staticfiles %}
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/logo.png' %}" alt="DoctorsInfo">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if sticky_data.user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block header_name %}{{sticky_data.user.full_name}}{% endblock %} <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="{% block dashboard_profile_link %}/dashboard/account{% endblock %}">Account Settings</a></li>
                        <li><a href="/accounts/logout" onclick="logout_request();return false;">Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Doctor <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/accounts/login"><strong>Update</strong> Your Info</a></li>
                        <li><a href="{% url 'practitioner_registration' %}">Get listed as <strong>Doctor</strong></a></li>
                    </ul>
                </li>
                <!--menu blog li end here-->
                <li class="dropdown">
                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown">Patient <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                        {% load socialaccount %}
                        <div class="row social-login">
                            <div class="col-sm-12">
                                <a href="{% provider_login_url 'facebook' method='oauth2' %}"><button class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i> Login with facebook</button></a>
                            </div>
                            <div class="col-sm-12">
                                <a href="{% provider_login_url 'twitter' %}"><button class="btn btn-lg btn-twitter"><i class="fa fa-twitter"></i> Login with Twitter</button></a>
                            </div>
                            <div class="col-sm-12">
                                <a href="{% provider_login_url 'google' %}"><button class="btn btn-lg btn-google"><i class="fa fa-google"></i> Login with Google</button></a>
                            </div>
                            <div class="col-sm-12">
                                <div class="border-rits">
                                    <span>or</span>
                                </div>
                            </div>
                        </div>
                        <form role="form" action="{% url 'login' %}" method="POST" data-toggle="validator">{% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" name="username" required>
                                </div>
                                <br>
                                <label>Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox">Remember me
                                    </label><br>
                                    <a href="{% url 'password_reset' %}">&nbsp;Forgot password</a>
                                </div>
                                <!--<a class="btn btn-theme-bg pull-right">Login</a>-->
                                <button type="submit" class="btn btn-theme pull-right">Sign in</button>
                                <div class="clearfix"></div>
                                <hr>
                                <p>New to doctorsinfo.pk?<a href="{% url 'registration_register' %}">&nbsp;Create Account</a></p>
                            </div>
                        </form>
                    </div>
                </li> <!--menu login li end here-->
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle location-toggle" data-toggle="dropdown"><i class="fa fa-flag text-green"></i> <span id="curr_city" data-cityslug="{{sticky_data.user_city.slug}}">{{sticky_data.user_city}}</span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for city in sticky_data.cities %}
                        <li><a href="#" class="city_name" data-cityslug="{{city.slug}}">{{city}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--container-->
</div><!--navbar-default-->
