<!--navigation -->
{% load staticfiles %}
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% block home_link %}/{% endblock %}">
            	<img src="{% static 'assets/img/logo.png' %}" alt="DoctorsInfo">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            	{% if data.user.is_authenticated %}
            	<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block header_name %}{{data.user.first_name}} {{data.user.last_name}}{% endblock %} <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% block home_link1 %}/{% endblock %}">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="{% block dashboard_profile_link %}/dashboard/account{% endblock %}">Account Settings</a></li>
                        <li><a href="/accounts/logout" onclick="logout_request();return false;">Signout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown active ">
                    <a href="{% block home_link2 %}/{% endblock %}" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                </li>
                <!--menu home li end here-->
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Doctor <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><strong>Update</strong> Your Info</a></li>
                        <li><a href="{% url 'registration' %}">Get listed as a <strong>Doctor</strong></a></li>
                    </ul>
                </li>
                <!--menu blog li end here-->

                <li class="dropdown">
                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i> Sign In</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                        
                    	{% load socialaccount %}
                    	<div class="row social-login">
                            <div class="col-sm-12">
                                <a href="{% provider_login_url 'facebook' method='oauth2' %}"><button class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i> Login with facebook</button></a>
                            </div>
                            <div class="col-sm-12">
                                <a href="{% provider_login_url 'twitter' %}"><button class="btn btn-lg btn-twitter"><i class="fa fa-twitter"></i> Login with Twitter</button></a>
                            </div>
                            <div class="col-sm-12">
                                <a href="{% provider_login_url 'google' %}"><button class="btn btn-lg btn-google"><i class="fa fa-google"></i> Login with Google</button></a>
                            </div>
                            <div class="col-sm-12">
                                <div class="border-rits">
                                    <span>or</span>
                                </div>
                            </div>
                        </div>
                        <form role="form" action="{% url 'auth_login' %}" method="POST" data-toggle="validator">{% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div>
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <!--<a class="btn btn-theme-bg pull-right">Login</a>-->
                                <button type="submit" class="btn btn-theme pull-right">Login</button>
                                <div class="clearfix"></div>
                                <hr>
                                <p>Don't have an account! <a href="/accounts/register">Register Now</a></p>
                            </div>
                        </form>
                    </div>
                </li> <!--menu login li end here-->
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--container-->
</div><!--navbar-default-->