<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
		    </div>
		    <form id="login_form" role="form" action="{% url 'auth_login' %}" method="POST" data-toggle="validator">{% csrf_token %}
			<div class="modal-body">
				{% load socialaccount %}
				<div class="container-fluid" style="border-bottom: 1px solid #e5e5e5;padding:15px 0;">
					<div class="col-md-8 col-md-offset-2" style="margin-bottom:15px;">
						<a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-block btn-social btn-facebook">
						    <i class="fa fa-facebook"></i> Log In with Facebook
						</a>
					</div>
					<div class="col-md-8 col-md-offset-2" style="margin-bottom:15px;">
						<a href="{% provider_login_url 'google' %}" class="btn btn-block btn-social btn-google-plus">
						    <i class="fa fa-google"></i> Log In with Google
						</a>
					</div>
					<div class="col-md-8 col-md-offset-2" style="margin-bottom:15px;">
						<a href="{% provider_login_url 'twitter' %}" class="btn btn-block btn-social btn-twitter">
						    <i class="fa fa-twitter"></i> Log In with Twitter
						</a>
					</div>
				</div>
				<div class="container-fluid" style="padding:15px 0;">
					<div class="login-username-form-group form-group">
					    <div class="col-md-8 col-md-offset-2" style="margin-bottom:15px;">
					    	<input name="login_username" type="text" class="form-control" id="login_username" placeholder="Username" data-error="Username field cannot be empty" required>
					    	<span class="help-block with-errors"></span>
					    </div>
					</div>
					<div class="login-password-form-group form-group">
						<div class="col-md-8 col-md-offset-2">
					    	<input name="login_password" type="password" class="form-control" id="login_password" placeholder="Password" data-error="Password field cannot be empty" required>
					    	<span class="help-block with-errors"></span>
					    </div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-4">
					<div class="row" style="float:left;color: #8B8B8B;">
						<a href="#" onclick="$('#loginModal').modal('hide');" data-toggle="modal" data-target="#recoveryModal"><strong>Forgot your password?</strong></a>
					</div>
					<div class="clear"></div>
					<div class="row" style="float:left;color: #8B8B8B;">
						<a href="#" onclick="$('#loginModal').modal('hide');" data-toggle="modal" data-target="#signupModal"><strong>Sign up now</strong></a>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-4">
					<button type="submit" class="btn btn-primary">Log In</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>